/********************************** 工具组件 **********************************/
// 清楚浮动
// 调用方式：@include clear-float;
@mixin clear-float {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
// 边框组件：用于native源生边框统一样式
// 调用方式：@include border-line;
//           border-bottom-width: 1px;
@mixin border-line {
    border-width: 0;
    border-image: url(../images/icon_border_half.png) 2 stretch;
    -webkit-border-image: url(../images/icon_border_half.png) 2 stretch;
    border-style: solid\9\0;
    border-color: #c8c8c8\9\0;
}
// 截字变量:用于单行截字
@mixin cutting-word ($width:100%) {
    width: $width;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
// 背景图变量：用于icon配置
// 调用方式：@include icon-bg(168px, 168px, url(../images/user_default.png));
@mixin icon-bg ($width:0, $height:0, $url:url(''), $display:block) {
    display: $display;
    width: $width / 2;
    height: $height / 2;
    background: $url no-repeat 50% 50%;
    background-size: $width / 2 $height / 2;
}
// 旋转
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.rotate {
    -webkit-animation: rotate 1s infinite linear;
}

/********************************** 公用样式 **********************************/
input::-webkit-inner-spin-button, select {
    -webkit-appearance: none; /* 干掉的默认样式 */
    background-color: transparent;
}
// icon字体
.ion-search, .ion-checkmark, .ion-key, .ion-iphone, .ion-person, .ion-cart, .ion-load-d, .ion-bar-home, .ion-bar-heart, .ion-ios-heart, .ion-bar-person, .ion-time-alarm, .ion-single-row, .ion-double-row, .ion-arrow-up, .ion-arrow-down, .ion-ios-arrow-down, .ion-loading-d, .ion-arrow-right, .ion-share, .ion-star, .ion-add, .ion-remove, .ion-location {
    font-family: "Ionicons";
}
// 搜索框
.item-input-inset {
    background-color: #eee;
    padding: 8px 11px;
    .item-input-wrapper {
        background-color: #fff;
        input {
            background-color: #fff;
        }
    }
    .ion-search:before {
        content: "\f4a4";
    }
}
//后退按钮
.back-button + .back-button {
    display: none;
}
.back-button.ng-hide + .back-button {
    display: inline-block;
}
.back-button.ng-animate + .back-button {
    display: none;
}
.bar .button.back-button:before {
    font-size: 26px;
}
.bar-positive.invisible {
    .left-buttons {
        display: none;
    }
}
//主体背景
.scroll-content {
    background-color: #f5f5f5;
}
// 加载中样式
.loading {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -35px;
    z-index: 10;
    .ion-load-d {
        color: #fff;
        position: absolute;
        font-size: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
        // background: url(../images/send_loading.png) no-repeat;
        // background-size: 48px 48px;
        -webkit-animation: cui-loading 1.58s linear infinite;
        animation: cui-loading 1.58s linear infinite;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .ion-load-d:before {
        content: "\f29d";
    }
}
@-webkit-keyframes cui-loading {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes cui-loading {
    to {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes cui-loading {
    to {
        -ms-transform: rotate(360deg);
    }
}
@keyframes cui-loading {
    to {
        transform: rotate(360deg);
    }
}
// toast样式
.notifier {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: #FFF;
    span {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .6);
    }
}
// 从右往左切换页面
.slide-right-left-n {
    -webkit-transform: translate3d(100%, 0, 0);
}
.slide-right-left-n.enter {
    -webkit-transition: all ease-out 300ms;
    -webkit-transform: translate3d(0, 0, 0);
}
.slide-right-left-n.leave {
    -webkit-transition: all ease-out 300ms;
    -webkit-transform: translate3d(100%, 0, 0);
}
// 从下往上切换页面
.slide-bottom-top {
    -webkit-transform: translate3d(0, 100%, 0);
}
.slide-bottom-top.enter {
    -webkit-transition: all ease-out 300ms;
    -webkit-transform: translate3d(0, 0, 0);
}
.slide-bottom-top.leave {
    -webkit-transition: all ease-out 300ms;
    -webkit-transform: translate3d(0, 100%, 0);
}
// 从上往下切换页面
.slide-bottom-top.reverse > .ng-enter, .slide-bottom-top.reverse > .ng-leave {
    -webkit-transition: all ease-out 400ms 300ms;
}
.slide-bottom-top.reverse > .ng-enter {
    -webkit-transform: translate3d(0, 0, 0);
}
.slide-bottom-top.reverse > .ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
}
.slide-bottom-top.reverse > .ng-leave.ng-leave-active {
    -webkit-transform: translate3d(0, 100%, 0);
}
// 弹出层样式
.popup {
    border-radius: 5px;
    width: 270px;
    background: #fff;
    .popup-head {
        padding: 0;
        border-radius: 5px 5px 0 0;
        display: none;
    }
    .popup-body {
        padding: 28px 10px 22px;
        text-align: center;
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0;
        }
        h4 {
            font-weight: bold;
            text-align: left;
            font-size: 14px;
            margin-top: -10px;
            margin-left: 5px;
        }
        .scroll-view {
            text-align: left;
            font-size: 12px;
            height: 100px;
            padding: 0 5px;
            overflow-y: scroll;
        }
    }
    .popup-buttons.row {
        padding: 0;
        overflow: hidden;
        .button:first-child {
            margin: 0;
            padding: 0;
            border: 0;
            @include border-line;
            border-top-width: 1px;
            background: #fff;
            height: 44px;
            min-height: 44px;
            border-radius: 0 0 0 5px;
            color: #099FDE;
        }
        .button:last-child {
            color: #099FDE;
            border-radius: 0 0 5px 5px;
            margin: 0;
            padding: 0;
            border: 0;
            height: 44px;
            min-height: 44px;
            @include border-line;
            border-top-width: 1px;
            border-left-width: 1px;
            margin-left: -1px;
            background: #fff;
        }
    }
}
// 头部背景
.ep-header-bg {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 155px;
    background: url(../images/header_bg.png) top center no-repeat;
    background-size: cover;
}
// 右上角编辑按钮
.ep-edit {
    line-height: 34px;
    padding: 0 10px;
}
// 底部背景
.bottom-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    img {
        width: 100%;
    }
}
// 滚动容器
.scroll-view {
    height: 100%;
}
// ios7以上适配
.is-hybird {
    .bar-header {
        height: 64px;
        .left-buttons, .right-buttons {
            margin-top: 20px;
        }
        .right-buttons .ep-list-search {
            bottom: -5px;
        }
    }
    .has-header {
        top: 64px;
    }
    .ep-search .item-input-inset {
        padding-top: 28px;
    }
    .ep-home .no-activity img {
        bottom: 120px;
    }
    .ep-header-bg {
        height: 175px;
        padding-top: 20px;
    }
    .ep-person .user-details .scroll {
        height: 620px;
    }
    .ep-list .is-heart .sort-nav, .ep-list .is-heart .sort-brand {
        top: 112px;
    }
}
//page style
@import "../scripts/epbuy/epbuy.scss";