<ion-view title="新用户注册" class="ep-registered">
    <ion-content scroll="false">

        <div class="ep-registered-search slide-bottom-top" ng-class="{enter: searching, leave: !searching}">
            <div class="item-input-inset">
                <label class="item-input-wrapper"> <i class="icon ion-search placeholder-icon"></i>
                    <input ng-change="searchChange();" ng-model="inputVal.searchVal" type="search" placeholder="请输入企业名/企业码"></label>
                <button class="button-clear" ng-click="hideSearch();">取消</button>
            </div>
            <ion-scroll class="list" ng-if="searching">
                <label ng-repeat="(index, item) in searchResultList" class="item search-item" ng-class="{cur: index == 0}" ng-click="chooseItemSearch($event, {{item.commentPrize}})"> <i class="icon ion-checkmark"></i>
                    上海通用汽车 - {{item.commentPrize}}
                </label>
                <div class="item no-results" ng-if="!searchResultList && inputVal.searchVal">抱歉，没有结果</div>
            </ion-scroll>
        </div>

        <div class="ep-registered-step" ng-if="stepInit">
            <ul>
                <li>
                    <button class="button button-positive" ng-click="showSearch();">
                        <i class="icon ion-search"></i>
                    </button>
                    <label class="item-input short-one">
                        <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-change="inputChange();" ng-model="inputVal.enterpriseCode" type="text" placeholder="企业码" maxlength="10"></label>
                </li>
                <li>
                    <button class="button button-block button-positive" ng-click="goStepTwo();" ng-class="{disabled: stepOneDisabled}">下一步</button>
                </li>
            </ul>
        </div>

        <div class="ep-registered-step" ng-if="stepOnePass">
            <ul>
                <li>
                    <label class="item-input">
                        <i class="icon placeholder-icon ion-iphone"></i>
                        <input focus-effect ng-model="inputVal.phoneNumber" type="number" placeholder="手机号"></label>
                </li>
                <li>
                    <button class="button button-positive validation-button" ng-class="{disabled: validationDisabled}" ng-click="getVerificationCode();"><span ng-if="validationEnable">获取验证码</span><i ng-if="validationDisabled" ng-bind-html="validationHtml"></i></button>
                    <label class="item-input short-two">
                        <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-model="inputVal.validationCode" type="number" placeholder="验证码"></label>
                </li>
                <li>
                    <label class="item-input">
                        <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-model="inputVal.passWord" type="password" maxlength="20" placeholder="密&nbsp;&nbsp;&nbsp;码"></label>
                </li>
                <li>
                    <button class="button button-block button-positive" ng-click="submitRegistered();">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</button>
                </li>
            </ul>
        </div>

        <div class="bottom-bg">
            <img ng-src="images/bottom_bg.png"></div>
    </ion-content>
</ion-view>
