<ion-view title="新用户注册" class="ep-registered">
    <ion-content scroll="false">

        <div class="ep-registered-search slide-bottom-top" ng-class="{enter: searching, leave: !searching}">
            <div class="item-input-inset">
                <label class="item-input-wrapper"> <i class="icon ion-search placeholder-icon"></i>
                    <input ng-change="searchChange();" ng-model="inputVal.searchVal" type="search" placeholder="请输入企业名/企业码"></label>
                <button class="button-clear" ng-click="hideSearch();">取消</button>
            </div>
            <ion-scroll class="list" ng-if="searching">
                <label ng-repeat="item in searchResultList track by $index" class="item search-item cur" ng-click="chooseItemSearch(item.Code);">
                    <span>{{item.Name}}</span>
                    {{item.Code}}
                </label>
                <div class="item no-search-results" ng-if="!searchResultList && inputVal.searchVal">抱歉，没有结果</div>
            </ion-scroll>
        </div>

        <div class="ep-registered-step" ng-if="stepInit">
            <ul>
                <li>
                    <button class="button button-positive search-button" ng-click="showSearch();"> <i class="icon ion-search"></i>
                    </button>
                    <label class="item-input short-one">
                        <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-change="inputChange();" ng-model="inputVal.enterpriseCode" type="text" placeholder="企业码" maxlength="10"></label>
                </li>
                <li>
                    <button class="button button-block button-positive" ng-click="goStepTwo();" ng-class="{disabled: stepOneDisabled}">下一步</button>
                </li>
            </ul>
        </div>

        <ion-scroll class="legal-notice" ng-if="legalNotice">
            <div class="notarize">
                <button ng-click="hasAgreed();" class="button button-positive">我已阅读并同意该声明</button>
            </div>
            <h3>法律声明</h3>
            企福惠提醒您：在使用企福惠平台各项服务前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用企福惠平台服务，但如果您使用企福惠平台服务的，您的使用行为将被视为对本声明全部内容的认可。“企福惠平台”指由上海企福商贸有限公司（简称“企福惠”）运营的网络交易平台，域名为51mart.com.cn以及企福惠启用的其他域名。
            <br>
            任何单位或个人认为企福惠平台网页内容（包括但不限于企福惠平台会员发布的商品信息）可能涉嫌侵犯其合法权益，应该及时向企福惠提出书面权利通知，并提供身份证明、权属证明、具体链接（URL）及详细侵权情况证明。企福惠在收到上述法律文件后，将会依法尽快移除相关涉嫌侵权的内容。
            <br>
            企福惠平台转载作品（包括论坛内容）出于传递更多信息之目的，并不意味企福惠（包括企福惠关联企业）赞同其观点或证实其内容的真实性。企福惠网尊重合法版权，反对侵权盗版。若本网有部分文字、摄影作品等侵害了您的权益，在此深表歉意，请您立即将侵权链接及侵权信息邮件至我们的版权投诉邮箱：app@syiit.com，我们会尽快与您联系并解决。
            <br>
            <br>
            知识产权声明
            <br>
            企福惠拥有企福惠平台网站内所有信息内容（除企福惠平台会员发布的商品信息外，包括但不限于文字、图片、软件、音频、视频）的版权。
            <br>
            任何被授权的浏览、复制、打印和传播属于企福惠平台网站内信息内容都不得用于商业目的且所有信息内容及其任何部分的使用都必须包括此版权声明；
            <br>
            企福惠平台所有的产品、技术与所有程序均属于企福惠知识产权。未经企福惠许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，企福惠将依法追究法律责任。
            <br>
            <br>
            隐私权政策
            <br>
            企福惠尊重并保护所有使用企福惠平台服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，企福惠会按照本隐私权政策的规定使用和披露您的个人信息。但企福惠将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，企福惠不会将这些信息对外披露或向第三方提供。企福惠会不时更新本隐私权政策。 您在同意企福惠服务协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于企福惠服务协议不可分割的一部分。
            <br>
            <br>
            1. 适用范围
            <br>
            a） 在您注册或激活可以登录企福惠平台的账户时，您在企福惠平台提供的个人注册信息（应法律法规要求需公示的企业名称等相关工商注册信息以及自然人经营者的信息除外）；
            <br>
            b） 在您使用企福惠平台服务，或访问企福惠平台网页时，企福惠自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；如您下载或使用企福惠或其关联公司移动客户端软件，或访问移动网页使用企福惠平台服务时，企福惠可能会读取与您位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。
            <br>
            c） 企福惠通过合法途径从商业伙伴处取得的用户个人数据。
            <br>
            您了解并同意，以下信息不适用本隐私权政策：
            <br>
            a）您在使用企福惠平台提供的搜索服务时输入的关键字信息；
            <br>
            b）您在企福惠进行交易的有关数据，包括但不限于出价、成交信息及评价详情；
            <br>
            c）信用评价、违反法律规定或违反企福惠规则行为及企福惠已对您采取的措施。
            <br>
            <br>
            2. 信息使用
            <br>
            a) 企福惠不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和企福惠（含企福惠关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。
            <br>
            b) 企福惠亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何企福惠平台用户如从事上述活动，一经发现，企福惠有权立即终止与该用户的服务协议。
            <br>
            c) 为服务用户的目的，企福惠或其关联公司可能通过使用您的个人信息，向您提供您可能感兴趣的信息，包括但不限于向您发出产品和服务信息，或通过系统向您展示个性化的第三方推广信息，或者与企福惠合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。
            <br>
            d) 企福惠可以使用您的个人信息以预防、发现、调查欺诈、危害安全、非法或违反与企福惠或其关联公司协议、政策或规则的行为，以保护您、其他企福惠用户，或企福惠或其关联公司合法权益。
            <br>
            <br>
            3. 信息披露
            <br>
            在如下情况下，企福惠将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：
            <br>
            a) 经您事先同意，向第三方披露；
            <br>
            b) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；
            <br>
            c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；
            <br>
            d) 如您出现违反中国有关法律、法规或者企福惠服务协议或相关规则的情况，需要向第三方披露；
            <br>
            e) 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；
            <br>
            f) 在企福惠平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，企福惠有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。
            <br>
            g) 其它企福惠根据法律、法规或者网站政策认为合适的披露。
            <br>
            <br>
            4. 信息存储和交换
            <br>
            企福惠收集的有关您的信息和资料将保存在企福惠及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或企福惠收集信息和资料所在地的境外并在境外被访问、存储和展示。
            <br>
            <br>
            5. Cookie的使用
            <br>
            a) 在您未拒绝接受cookies的情况下，企福惠会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的企福惠平台服务或功能。企福惠使用cookies可为您提供更加周到的个性化服务，包括推广服务。
            <br>
            b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的企福惠平台服务或功能。
            <br>
            c) 通过企福惠所设cookies所取得的有关信息，将适用本政策；
            <br>
            <br>
            6. 信息安全
            <br>
            a) 您的账户均有安全保护功能，请妥善保管您的账户及密码信息。企福惠将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。
            <br>
            b) 在使用企福惠平台服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要情形下向他人提供。如您发现自己的个人信息泄密，尤其是你的账户及密码发生泄露，请您立即联络企福惠客服，以便企福惠采取相应措施。
            <br>
            <br>
            7. 未成年人的特别注意事项
            <br>
            如果您不是具备完全民事权利能力和完全民事行为能力的自然人，您无权使用企福惠平台服务，因此企福惠希望您不要向我们提供任何个人信息。
        </ion-scroll>

        <div class="ep-registered-step" ng-if="stepOnePass">
            <ul>
                <li>
                    <label class="item-input">
                        <i class="icon placeholder-icon ion-iphone"></i>
                        <input focus-effect ng-model="inputVal.phoneNumber" type="number" placeholder="手机号"></label>
                </li>
                <li>
                    <button get-verificationcode class="button button-positive validation-button" ng-class="{disabled: validationDisabled}">
                        <span ng-if="validationEnable">获取验证码</span>
                        <i ng-if="validationDisabled" ng-bind-html="validationHtml"></i>
                    </button>
                    <label class="item-input short-two">
                        <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-model="inputVal.validationCode" type="number" placeholder="验证码"></label>
                </li>
                <li>
                    <label class="item-input">
                        <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-model="inputVal.passWord" type="password" maxlength="20" placeholder="密&nbsp;&nbsp;&nbsp;码"></label>
                </li>
                <li>
                    <button class="button button-block button-positive" ng-click="submitRegistered();">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</button>
                </li>
            </ul>
        </div>

        <div class="bottom-bg">
            <img ng-src="images/bottom_bg.png"></div>
    </ion-content>
</ion-view>
