<ion-view title="{{addressId ? '修改' + editAddressTitle + '收货地址' : '新增收货地址'}}" class="ep-edit-address">

    <ion-content>

        <ul class="edit-ctrl" ng-class="{paddingtop:inputVal.addressType == 0}">
            <li class="edit-item">
                <span>收货人</span>
                <input ng-model="inputVal.consignee" type="text"></li>
            <li class="edit-item">
                <span>手机号码</span>
                <input ng-model="inputVal.phoneNumber" type="number"></li>
            <li ng-if="!addressId" class="edit-item">
                <span>地址类型</span>
                <div class="select-ctrl ion-ios-arrow-down">
                    <select ng-model="inputVal.addressType" ng-change="getArea('', 1);">
                        <option value="0">企业地址</option>
                        <option value="1">个人地址</option>
                    </select>
                </div>
            </li>
            <li ng-if="inputVal.addressType == 0" class="edit-item">
                <span>选择地址</span>
                <div class="select-ctrl ion-ios-arrow-down">
                    <select ng-model="cpCode" ng-init="cpCode = 'a'">
                        <option value="a" selected="a">我是公司地址1</option>
                        <option value="b" selected="b">我是公司地址2</option>
                        <option value="c" selected="c">我是公司地址3</option>
                    </select>
                </div>
            </li>
            <li ng-if="inputVal.addressType == 1" class="edit-item">
                <span>所在省</span>
                <div class="select-ctrl ion-ios-arrow-down">
                    <select ng-model="inputVal.provinceId" ng-change="getArea(inputVal.provinceId, 2);">
                        <option value="">选择省</option>
                        <option value="{{item.Id}}" ng-repeat="item in province track by $index">{{item.Name}}</option>
                    </select>
                </div>
            </li>
            <li ng-if="inputVal.addressType == 1" class="edit-item">
                <span>所在市</span>
                <p ng-if="!city" class="disabled">选择市</p>
                <div class="select-ctrl ion-ios-arrow-down">
                    <select ng-model="inputVal.cityId" ng-if="city" ng-change="getArea(inputVal.cityId, 3);">
                        <option value="">选择市</option>
                        <option value="{{item.Id}}" ng-repeat="item in city track by $index">{{item.Name}}</option>
                    </select>
                </div>
            </li>
            <li ng-if="inputVal.addressType == 1 && village" class="edit-item">
                <span>所在区</span>
                <div class="select-ctrl ion-ios-arrow-down">
                    <select ng-model="inputVal.villageId" ng-change="getArea(inputVal.villageId);">
                        <option value="">选择区</option>
                        <option value="{{item.Id}}" ng-repeat="item in village track by $index">{{item.Name}}</option>
                    </select>
                </div>
            </li>
            <li ng-if="inputVal.addressType == 1" class="edit-item">
                <span>详细地址</span>
                <input ng-model="inputVal.detailedAddress" type="text"></li>
            <li class="edit-item">
                <span>邮编</span>
                <input ng-model="inputVal.zipCode" type="number" placeholder="可选" ng-maxlength="6"></li>
            <li ng-if="addressId" ng-click="deleteAddress();" class="edit-item delete">删除收货地址</li>
            <li class="edit-item save-address">
                <button class="button button-block button-positive" ng-click="saveAddress();">保 存</button>
            </li>
        </ul>

    </ion-content>

    <bottom-bar ng-init="bottomBarCur = 'person'"></bottom-bar>

</ion-view>