<ion-view title="我的积分" class="ep-integral">

    <ion-content scroll="false">

        <no-network></no-network>

        <div ng-if="noNetwork == false" class="integral-info">
            <p>
                <span class="blue">全部积分：</span>
                <span class="red">{{data.allIntegral}}</span>
                积分
            </p>
            <p>
                <span class="blue">可用积分：</span>
                <span class="red">{{data.AvailableIntegral}}</span>
                积分
            </p>
        </div>

        <ion-scroll>

            <p class="integral-item" ng-repeat="item in data.integralList track by $index">
                <span class="blue">{{item.TopupTime.substr(0, 10)}}</span>
                {{item.TopupType}}
                <span class="red">{{item.TopupIntegral > 0 ? '+' + item.TopupIntegral : item.TopupIntegral }}</span>
                积分
            </p>

        </ion-scroll>

    </ion-content>

    <bottom-bar ng-init="bottomBarCur = 'person'"></bottom-bar>

</ion-view>