<ion-view title="餐馆详情" class="restaurant" ng-show="hasResult">
    <ion-content>
        <!-- 餐馆信息 -->
        <h1>{{restName}}</h1>
        <div class="detail">
            <img ng-src="{{rest.RestaurantViewModel.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png" />
            <div class="detail-info">
                <div class="score">
                    <span ng-if="rest.RestaurantViewModel.CommentScore"><b>{{rest.RestaurantViewModel.CommentScore.toFixed(1)}}</b> / 5分</span>
                    <span ng-if="!rest.RestaurantViewModel.CommentScore">暂无评分</span>
                </div>
                <div class="rate_block"><b style="width:{{rest.RestaurantViewModel.CommentScore | formatScore}}%;"></b></div>
                <div class="price" ng-if="rest.RestaurantViewModel.AveragePrice">{{rest.RestaurantViewModel.CurrencyUnit.replace('RMB', '&yen;')}}{{rest.RestaurantViewModel.AveragePrice}}</div>
                <div class="typeScores">
                    <span>口味：{{parseInt(rest.RestaurantViewModel.TasteStar) || "--"}}</span>
                    <span>环境：{{parseInt(rest.RestaurantViewModel.EnvironmentStar) || "--"}}</span>
                    <span>服务：{{parseInt(rest.RestaurantViewModel.ServiceStar) || "--"}}</span>
                </div>
            </div>
        </div>

        <!-- 商户联系方式 -->
        <div class="contact">
            <div class="address" ng-class="{'ion-chevron-right': rest.RestaurantViewModel.Address && isHybrid}" ng-click="toMap()"><span>{{rest.RestaurantViewModel.Address || "暂无地址"}}</span></div>
            <div class="phones" ng-class="{'ion-chevron-right': rest.RestaurantViewModel.BookTelList.length && ifIosSys}" ng-click="phonesClicked(rest.RestaurantViewModel.BookTelList)">
                <div class="has-phone" ng-if="rest.RestaurantViewModel.BookTelList.length">
                    <span ng-repeat="thePhone in rest.RestaurantViewModel.BookTelList track by $index">{{thePhone}}<i ng-if="!$last">；</i></span>
                </div>
                <span ng-if="!rest.RestaurantViewModel.BookTelList.length">暂无电话</span>
            </div>
        </div>

        <!-- 高端商户 -->
        <div class="activities view-block" ng-if="(GMMerchant.RebateByAmountInfo) || (GMMerchant.RebateByPercentInfo) || (GMMerchant.Gift) || (!IsSuperior && GrouponProductList.length > 0)">
        <!-- <div class="activities view-block" ng-if="(IsSuperior && productCount > 0) || (!IsSuperior && GrouponProductList.length > 0)"> -->
            <h2>优惠</h2>
            <!-- 高端商户优惠信息 -->
            <div ng-if="IsSuperior">
            <!-- <div ng-if="IsSuperior && productCount > 0"> -->
                <ul>
                    <li ng-if="GMMerchant.RebateByAmountInfo">
                        <span class="type">返</span>
                        <span class="message">现金支付满{{GMMerchant.RebateByAmountInfo.Flag}}返{{GMMerchant.RebateByAmountInfo.Amount}}</span>
                    </li>
                    <li ng-if="GMMerchant.RebateByPercentInfo">
                        <span class="type">返</span>
                        <span class="message">现金支付返现{{GMMerchant.RebateByPercentInfo.RebateByPercent}}%</span>
                    </li>
                    <li ng-if="GMMerchant.Gift">
                        <span class="type">礼</span>
                        <span class="message">{{GMMerchant.Gift}}</span>
                    </li>
                    <!-- <li ng-repeat="product in GMMerchant.ProductList | limitTo:productNum" class="ion-chevron-right" ng-click="producttUrl(product.HybridUrl)">
                        <span class="extra">{{rest.RestaurantViewModel.CurrencyUnit.replace('RMB', '&yen;')}}{{product.Price}}</span>
                        <span class="type">套餐</span>
                        <span class="message">{{product.Name}}</span>
                    </li> -->
                </ul>
                <!-- <div class="more" ng-show="GMMerchant.ProductList.length > productNum" ng-click="productNum=Infinity"><span class="ion-chevron-down">查看更多</span></div> -->
            </div>

            <!-- 非高端商户的热门团购信息 -->
            <div ng-if="!IsSuperior && GrouponProductList.length > 0">
                <ul>
                    <!-- <li ng-repeat="groupon in GrouponProductList | limitTo:grouponNum" class="ion-chevron-right" ng-click="redirectUrl(groupon.HybridUrl)"> -->
                    <li ng-repeat="groupon in GrouponProductList" class="ion-chevron-right" ng-click="redirectUrl(groupon.HybridUrl)">
                        <span class="extra">{{rest.RestaurantViewModel.CurrencyUnit.replace('RMB', '&yen;')}}{{groupon.Price}}</span>
                        <span class="type">团</span>
                        <span class="message">{{groupon.ProductName}}</span>
                    </li>
                </ul>
                <!-- <div class="more" ng-show="grouponNum < GrouponProductList.length && grouponNum < 5" ng-click="grouponNum=5"><span class="ion-chevron-down">查看更多</span></div> -->
            </div>
        </div>

        <!-- 推荐菜 -->
        <div class="view-block" ng-if="rest.FoodNameList">
            <h2>推荐菜</h2>
            <div class="recommends"><span ng-repeat="foodName in rest.FoodNameList | limitTo:12">{{foodName}}</span></div>
        </div>

        <!-- 网友评论 -->
        <div class="view-block" ng-if="commentList">
            <h2 class="ion-chevron-right" ng-click="gotoAllComments()">网友评论（{{rest.RestaurantViewModel.CommentCount}}）</h2>
            <div class="comment" ng-repeat="comment in commentList | limitTo: 2">
                <div class="name">{{comment.UserName}}<i class="metal{{comment.Medal.replace('美食达人', 3).replace('美食家', 2).replace('食神', 1)}}"></i></div>
                <div class="date">{{comment.PublishTime}}</div>
                <div class="reviews"><b style="width:{{comment.Score | formatScore}}%;"></b></div>
                <div class="specialist" ng-if="comment.IsExpert">专家点评</div>
                <div class="price" ng-if="!!comment.AverageCost">&yen;{{comment.AverageCost}}/人</div>
                <div class="content">{{comment.Content | ellipsis:55}}</div>
                <ion-scroll direction="x" scrollbar-x="false" class="pic-region" ng-if="comment.ImageUrlList && isHybrid">
                    <img ng-repeat="img in comment.ImageUrlList | limitTo: 5" ng-src="{{img || fallbackSrc}}" fallback-src="images/default-image.png" ng-click="previewImage($index, comment.ImageUrlList)" />
                </ion-scroll>
            </div>
        </div>

        <!-- 商户详情 -->
        <div class="view-block">
            <h2>商户详情</h2>
            <div class="rest-detail">
                <div class="item-col" ng-if="rest.RestaurantViewModel.Description">
                    <h3>简介</h3>
                    <expandable-text gs-content="{{rest.RestaurantViewModel.Description}}" gs-count="38"></expandable-text>
                </div>
                <div class="item-col" ng-if="rest.RestaurantViewModel.OpenTime"><h3>营业时间</h3><p>{{rest.RestaurantViewModel.OpenTime}}</p></div>
                <div class="item-col facility" ng-if="rest.RestaurantViewModel.PaymentCardNameList.length > 0">
                    <h3>刷卡</h3>
                    <p>
                        <span ng-repeat="card in rest.RestaurantViewModel.PaymentCardNameList">{{card}}</span>
                    </p>
                </div>
                <div class="item-col facility" ng-if="rest.RestaurantViewModel.FacilityNameList.length > 0">
                    <h3>便利设施</h3>
                    <p>
                        <span ng-repeat="facility in rest.RestaurantViewModel.FacilityNameList">{{facility}}</span>
                    </p>
                </div>
                <div class="item-col" ng-if="rest.RestaurantViewModel.TrafficInfo"><h3>交通信息</h3><p ng-bind-html="rest.RestaurantViewModel.TrafficInfo"></p></div>
                <div class="item-col" ng-if="rest.RestaurantViewModel.SpecialTips"><h3>特别提示</h3><p ng-bind-html="rest.RestaurantViewModel.SpecialTips"></p></div>
            </div>
        </div>

        <!-- 消费提醒 -->
        <div class="view-block" ng-if="rest.GMMerchant.Prompt">
            <h2>消费提醒</h2>
            <div class="comsume-tips" ng-bind-html="rest.GMMerchant.Prompt"></div>
        </div>

        <!-- 添加到日程 | 认领商户 -->
        <div class="manage-cmds view-block" ng-if="isHybrid">
            <div class="cmd" ng-click="addSchedule()">添加到日程</div>
            <!-- <div class="cmd" ng-click="toCustomerClaim()">认领商户</div> -->
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="rest-footer-bar">
    <a class="review-btn" ng-class="{single: !needCheckout || isHybrid}" ng-click="addComment()">
        <span>写点评</span>
    </a>
    <a class="checkout-btn" ng-if="needCheckout && !isHybrid" ng-href="#/foods/checkout/{{restName}}{{payUrl}}&jumpindex=1">
        <span>在线结账</span>
    </a>
</ion-footer-bar>
<ion-nav-buttons side="right">
    <button class="button button-icon favorite" ng-class="{isFav:isFav}" ng-click="changeFav()"></button>
    <button class="button button-icon share" ng-click="share()" ng-if="isHybrid"></button>
</ion-nav-buttons>
