<ion-view title="购物车" class="ep-cart">

    <ion-content>

        <div class="goods-list">
            <div class="goods-item" ng-if="!item.removed" ng-class="{'check-delete':moreGoodsChoos,leave:item.removing}" ng-repeat="item in shoppingCartList track by $index">
                <label class="checkbox">
                    <input type="checkbox" ng-click="hasChosenItem($event,$index);" ng-checked="!moreGoodsChoos"></label>
                <div class="img">
                    <img ng-src="{{item.Picture}}"></div>
                <div class="detail">
                    <span class="red">&yen;{{item.InnerPrice}}</span>
                    <h3>{{item.Name}}</h3>
                    <p class="text">{{item.Remark}}</p>
                    <div class="number-ctrl"> <i class="icon ion-remove" ng-if="item.Count > 1" ng-click="item.Count = item.Count - 1;totalNumber(item.InnerPrice);"></i> <i class="icon ion-add" ng-if="item.Count < item.NumPurchasing" ng-click="item.Count = item.Count + 1;totalNumber(item.InnerPrice,true);"></i>
                        <span class="delete" ng-if="item.Count == 1 && !moreGoodsChoos" ng-click="deleteGoods($index+'|');">删除</span>
                        <span class="most" ng-if="item.Count == item.NumPurchasing">限购{{item.NumPurchasing}}件</span>
                        <span class="num">{{item.Count}}</span>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <div class="order-info">
        <p>
            商品数量：
            <span class="red">{{cartNum}}件</span>
        </p>
        <p>
            订单金额：
            <span class="b-red">&yen;{{cartPrice}}</span>
            (不含运费)
        </p>
        <a ng-click="goOrder();">下 单</a>
    </div>

    <bottom-bar></bottom-bar>

</ion-view>

<ion-nav-buttons side="right">
    <a ng-click="deleteMoreGoods($event);" class="ep-edit">编辑</a>
</ion-nav-buttons>
