.ep-cart {
    .scroll {
        padding-bottom: 168px;
    }
    .goods-item {
        position: relative;
        z-index: 2;
        -webkit-transition: all ease-out 400ms;
        &.leave {
            z-index: -1;
            margin-top: -111px;
        }
        &.check-delete {
            overflow: visible;
            margin-left: 50px;
        }
        &.has-chosen {
            background-color: #f8f8f8;
        }
        .checkbox {
            position: absolute;
            top: 50%;
            left: -45px;
            margin-top: -21px;
        }
        .img {
            padding: 5px;
            border: 0 none;
        }
        .detail {
            h3 {
                width: 50%;
                margin-top: 5px;
            }
            .red {
                float: right;
                color: #e85454;
                line-height: 15px;
                font-size: 15px;
                margin-right: 4px;
            }
            .number-ctrl {
                float: left;
                position: relative;
                background-color: #f3f3f3;
                width: 195px;
                height: 39px;
                line-height: 39px;
                text-align: center;
                color: #333;
                .ion-add, .ion-remove, .delete, .most {
                    position: absolute;
                    top: 0;
                    display: block;
                    font-size: 20px;
                    width: 39px;
                    height: 39px;
                }
                .ion-add {
                    right: 0;
                }
                .ion-add:before {
                    content: "\f2c7";
                }
                .ion-remove, .delete {
                    left: 0;
                }
                .ion-remove:before {
                    content: "\f2f4";
                }
                .delete, .most {
                    font-size: 14px;
                }
                .delete {
                    color: #666;
                }
                .most {
                    color: #e85454;
                    width: auto;
                    right: 5px;
                }
            }
        }
    }
    .order-info {
        position: fixed;
        left: 0;
        bottom: 49px;
        z-index: 1;
        width: 100%;
        background-color: #fff;
        padding-top: 10px;
        @include border-line;
        border-top-width: 1px;
        p {
            color: #666;
            line-height: 20px;
            margin-bottom: 0;
            line-height: 26px;
            margin-left: 80px;
            .red {
                color: #e85454;
            }
            .b-red {
                color: #e85454;
                font-size: 20px;
                margin-right: 5px;
            }
        }
        a {
            display: block;
            color: #fff;
            background-color: #29ccc9;
            width: 100%;
            max-width: 640px;
            text-align: center;
            line-height: 45px;
            font-size: 18px;
            font-weight: bold;
            margin: 10px auto 0;
            opacity: 1;
            &.activated {
                opacity: 0.8;
            }
        }
    }
}
.ep-edit {
    line-height: 34px;
    padding: 0 10px;
}