<ion-view title="特色菜" class="specialfood" ng-show="hasResult">
    <ion-content scroll="false">
        <ion-scroll class="page-scroll" on-scroll="onScroll()" delegate-handle="scrollContent">
            <!-- 美食介绍 -->
            <div class="desc" ng-if="specialFood.DestinationViewModel.DestinationName">
                <img ng-src="{{specialFood.DestinationFoodBackgroundImageUrl}}" ng-if="specialFood.DestinationFoodBackgroundImageUrl"/>
                <article class="special_text">
                    <h1>关于{{specialFood.DestinationViewModel.DestinationName}}菜</h1>
                    <expandable-text ng-click="jumpToTop()" gs-content="{{specialFood.DestinationFoodIntroduction}}" gs-count="67"></expandable-text>
                </article>
            </div>

            <!-- 热门特色菜 -->
            <h2 ng-if="specialFood.SpecialFoodViewModels.length > 0">热门特色菜</h2>
            <div class="dish" ng-repeat="food in specialFood.SpecialFoodViewModels|limitTo:foodsNum" ng-class="{first:$first}">
                <div class="dish-info">
                    <div class="tag top{{$index + 1}}"></div>
                    <img class="pic" ng-src="{{food.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png" />
                    <h3>{{food.FoodName}}</h3>
                    <expandable-text gs-content="{{food.Introduction}}" gs-count="49"></expandable-text>
                </div>
                <div class="location-info" ng-if="food.RestaurantViewModels.length > 0">
                    <div class="where">去哪吃</div>
                    <ion-slide-box ng-class="{ifshowpage:food.RestaurantViewModels.length > 1}">
                        <ion-slide ng-repeat="restaurant in food.RestaurantViewModels">
                            <div class="loc-item" ng-repeat="rest in restaurant" ng-click="gotoDetailPage(rest.RestaurantId)" ng-style="{visibility:rest.RestaurantId ? 'visible' : 'hidden'}">
                                <img ng-src="{{rest.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png" class="loc-pic"/>
                                <div class="loc-name">{{formatRestaurantName(rest.RestaurantName, rest.Alias) | ellipsis: 13}}</div>
                                <div class="loc-price">{{rest.CurrencyUnit.replace('RMB', '￥')}}{{rest.AveragePrice}}</div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
