<ion-view title="美食·购物" class="homefront">
    <ion-content>
        <div class="hf_4link">
            <a class="hf_4link_block" ng-click="topfoodsJump()">
                <i class="linkicon icon_gm"></i>
                <span class="title1">高端美食</span>
                <span class="title2">高额返现&nbsp;携程尊享</span>
                <i class="icon_right ion-chevron-right"></i>
            </a>
            <!-- <a class="hf_4link_block" href="#/foods/home"> -->
            <a class="hf_4link_block" ng-click="foodsJump()">
                <i class="linkicon icon_ms"></i>
                <span class="title1">美食指南</span>
                <span class="title2">特色美食&nbsp;吃在当地</span>
                <i class="icon_right ion-chevron-right"></i>
            </a>
            <a class="hf_4link_block" ng-click="qqgJump()">
                <i class="linkicon icon_qqg"></i>
                <span class="title1">全球购<i class="icon_newqqqg"></i></span>
                <span class="title2">高达10%返现&nbsp;更享多重礼遇</span>
                <i class="icon_right ion-chevron-right"></i>
            </a>
            <a class="hf_4link_block" ng-click="gwJump()">
                <i class="linkicon icon_gw"></i>
                <span class="title1">购物指南</span>
                <span class="title2">地方特产&nbsp;文化礼品</span>
                <i class="icon_right ion-chevron-right"></i>
            </a>
        </div>
        <div ng-if="RestaurantBanner.linksrc||ShoppingBanner.linksrc" class="hf_cutline"><span>美食·购物推荐</span></div>
        <div ng-if="RestaurantBanner.linksrc||ShoppingBanner.linksrc" class="hf_bimg clearfix">
            <a href="{{RestaurantBanner.linksrc}}"><img ng-src="{{RestaurantBanner.img}}" alt=""></a>
            <a href="{{ShoppingBanner.linksrc}}"><img ng-src="{{ShoppingBanner.img}}" alt=""></a>
        </div>
    </ion-content>
</ion-view>
