<ion-view title="{{findfoodsTitle}}" class="findfoods" ng-class="{showbottomfilter:bottomFilterShow}" ng-show="hasResult">
    <foods-topfilter></foods-topfilter>
    <foods-bottomfilter></foods-bottomfilter>
    <ion-nav-buttons side="right">
        <button class="button button-icon btn_headtomap" ng-if="isHybrid" ng-click="toMap()"><i class="ion-headfilter"></i>
        </button>
    </ion-nav-buttons>

    <!-- 位置信息 -->
    <div class="current-location"><span>当前位置：{{nowPositionName}}</span><i class="refresh" ng-class="{loadrotate:loadPosition}" ng-click="refreshLocation()"></i></div>
    <ion-content class="findfoods_content" id="findfoods_content" delegate-handle="findFoodsScroll">
        <div class="findfood_list">
            <foods-restlist></foods-restlist>
        </div>
        <p class="nodatamore" ng-if="!ifLoadRest">没有更多结果了</p>
        <p class="ajaxloading" ng-if="ajaxloading"><i class="ion-loading-food"></i></p>
        <ion-infinite-scroll on-infinite="loadRest({{restPostData.PageIndex}})" distance="1%" ng-if="!!ifLoadRest" icon="ion-loading-food"></ion-infinite-scroll>
    </ion-content>
</ion-view>
