<div class="tabs tabs-icon-top ep-bottom-bar">
    <a nav-clear epbuy-jump="home" class="tab-item" ng-class="{cur: bottomBarCur == 'home'}"> <i class="icon ion-bar-home"></i>
        内购
    </a>
    <a nav-clear epbuy-jump="heart" class="tab-item" ng-class="{cur: bottomBarCur == 'heart'}"> <i class="icon ion-bar-heart"></i>
        想要
    </a>
    <a nav-clear epbuy-jump="person" class="tab-item" ng-class="{cur: bottomBarCur == 'person'}">
        <i class="icon ion-bar-person"></i>
        我
    </a>
</div>
