<ion-view title="订单详情" class="ep-order-detail">

    <ion-content>

        <no-network></no-network>

        <div ng-if="noNetwork == false">
            <div class="order-info" style="display:-webkit-box;">
                <span class="icon icon-suc"></span>
                <div class="order-detail">
                    <p class="status">交易成功</p>
                    <p>
                        订单金额：
                        <span class="red">&yen;{{data.Amount}}</span>
                    </p>
                    <p>
                        <span class="rec">运费</span>
                        ：
                        <span class="red">&yen;{{data.Freight}}</span>
                    </p>
                </div>
                <a ng-if="data.OrderStatus == '待支付'" class="go-order" ng-click="goOrder();">去支付</a>
                <span ng-if="data.OrderStatus != '待支付'" class="now-order">{{data.OrderStatus}}</span>
            </div>

            <div class="order-info" style="display:-webkit-box;background-color: #fff;">
                <span class="icon icon-man"></span>
                <div>
                    <p style="white-space: nowrap;">
                        <span class="name">收货人</span>
                        ： {{data.DeliveredName}}
                    </p>
                    <p class="address" style="display:-webkit-box;">
                        <span>收货地址</span>
                        ： {{data.Address}}
                    </p>
                </div>
            </div>

            <div class="order-info" style="display:-webkit-box;">
                <span class="icon icon-car"></span>
                <div>
                    <p>快递信息</p>
                    <p ng-if="data.ExpressInfo" class="exp">{{data.ExpressInfo}}</p>
                    <p ng-if="!data.ExpressInfo" class="exp">暂无快递信息</p>
                </div>
            </div>
        </div>

        <div class="goods-list" ng-if="data.orderDetailList">
            <a class="goods-item" ng-repeat="item in data.orderDetailList track by $index">
                <div class="img">
                    <img ng-src="{{item.Picture}}"></div>
                <div ng-if="!isHeart" class="detail">
                    <h3>{{item.ProductName}}</h3>
                    <p ng-if="item.ProductSpecificationName" class="text">{{item.ProductSpecificationName}},{{item.Remark}}</p>
                    <p class="p-red">
                        <span>&yen;{{item.SalePrice}}</span>
                        * {{item.CountNum}}
                    </p>
                </div>
            </a>
        </div>

    </ion-content>

    <bottom-bar ng-init="bottomBarCur = 'person'"></bottom-bar>

</ion-view>
