<ion-view class="ep-home" hide-nav-bar="true" ng-init="searchType = 'detail'">

    <ion-content scroll="false">

        <!-- 头部 -->
        <div class="bar-positive bar">
            <h1 class="title">企福惠</h1>
            <shopping-cart ng-if="hasActivity"></shopping-cart>
        </div>

        <!-- 搜索 -->
        <div class="item-input-inset" ng-if="!noNetwork && hasActivity">
            <label class="item-input-wrapper"> <i class="icon ion-search placeholder-icon"></i>
                <input ng-click="showSearch();" type="search" readonly="true" placeholder="请输入关键字"></label>
        </div>

        <div class="no-activity" ng-if="!noNetwork && !hasActivity">
            <img ng-src="images/no_goods.png" alt=""></div>

        <ion-scroll ng-if="!noNetwork && hasActivity">

            <ion-slide-box class="slide-box" ng-if="bannerList" auto-play="true" does-continue="true">
                <ion-slide ng-repeat="(key, value) in bannerList">
                    <div class="slide-page">
                        <img ng-src="images/bottom_bg.png"></div>
                </ion-slide>
            </ion-slide-box>

            <h3 class="hot-goods">
                <a epbuy-jump="list">查看所有商品&gt;&gt;</a>
                热门商品
            </h3>

            <div class="goods-list-double">
                <a class="goods-item" ng-click="toGoodsDetail(1234);" ng-repeat="(index, item) in goodsList">
                    <div class="img">
                        <img ng-src="">
                        <div class="mask" style="display:-webkit-box;">
                            水之密语 凝润水护套装（洗发水600ml+护发素600ml+亲水沐)水之密语 凝润水护套装（洗发水600ml+护发素600ml+亲水沐)
                        </div>
                    </div>
                    <div class="price">
                        <span class="p-discount">5.5折</span>
                        <span class="p-red">&yen;148</span>
                        <s class="p-gray">&yen;260</s>
                    </div>
                </a>
            </div>

        </ion-scroll>

    </ion-content>

    <bottom-bar ng-init="bottomBarCur = 'home'"></bottom-bar>

</ion-view>

<search-page></search-page>
