.ep-home {
    .bar {
        position: static;
        height: 45px;
    }
    .slide-box {
        width: 100%;
        overflow: hidden;
        .slide-page img {
            width: 100%;
        }
    }
    .hot-product {
        margin: 0;
        padding: 5px 15px 3px;
        font-size: 14px;
        color: #476681;
        a {
            float: right;
            text-decoration: none;
            color: #476681;
        }
    }
    .scroll {
        padding-bottom: 175px;
    }
    .no-activity {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            bottom: 100px;
            z-index: 1;
            margin-left: -120px;
            width: 239px;
        }
    }
}
