<ion-view title="{{pageTitle}}" class="hot_ranking" ng-show="hasResult">
    <ion-content scroll="false">
        <ion-scroll on-scroll="onScroll()" delegate-handle="scrollContent" style="height:100%;">
            <div class="hot_top clearfix">
                <div class="product_hot_b">
                    <a href="#/foods/rest/{{topOne.RestaurantId}}" class="product_hot product_top1">
                        <div class="hot_img">
                            <img ng-src="{{topOne.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png" alt=""></div>
                        <div class="hot_label"></div>
                        <div class="hot_detail">
                            <h3>{{topOne.RestaurantName}}</h3>
                            <p><em ng-repeat="food in topOne.FoodNameList">{{food}}</em></p>
                            <p>{{topOne.Distance}}</p>
                            <span ng-if="!!topOne.AveragePrice && topOne.AveragePrice != 0"> <em>{{topOne.CurrencyUnit.replace('RMB', '&yen;')}}</em> <b>{{topOne.AveragePrice}}</b>
                                /人
                            </span>
                        </div>
                    </a>
                </div>
                <div class="product_hot_b">
                    <a href="#/foods/rest/{{topTwo.RestaurantId}}" class="product_hot product_top2">
                        <div class="hot_img">
                            <img ng-src="{{topTwo.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png" alt=""></div>
                        <div class="hot_label"></div>
                        <div class="hot_detail">
                            <h3>{{topTwo.RestaurantName}}</h3>
                            <p><em ng-repeat="food in topTwo.FoodNameList">{{food}}</em></p>
                            <p>{{topTwo.Distance}}</p>
                            <span ng-if="!!topTwo.AveragePrice && topTwo.AveragePrice != 0"> <em>{{topTwo.CurrencyUnit.replace('RMB', '&yen;')}}</em> <b>{{topTwo.AveragePrice}}</b>
                                /人
                            </span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- <div class="hot_banner" ng-if="banner && banner.ImageUrl">
                <a href="#/foods/rest/{{banner.RestaurantId}}">
                    <img ng-src="{{banner.ImageUrl}}" alt=""></a>
            </div> -->

            <!-- <h2 class="hot_title">所有人气饭馆</h2> -->

            <div class="product_list">
                <a href="#/foods/rest/{{rest.RestaurantId}}" class="restitem" ng-repeat="rest in restaurants track by $index">
                    <div class="restimg">
                        <i ng-class="{icon_resttype4:$index>0,icon_hot_top3:$index==0}">TOP{{$index + 3}}</i>
                        <img alt="" ng-src="{{rest.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png"/>
                    </div>
                    <div class="restintro">
                        <div class="restnameline">
                            <span class="restname">{{formatRestaurantName(rest.RestaurantName, rest.Alias)}}</span>
                            <span ng-if="rest.IsGroupon" class="icon_tuan">团</span>
                            <span ng-if="rest.IsSuperior" class="icon_gaoduan">高端商户</span>
                        </div>
                        <div class="rateline clearfix">
                            <span class="rate_block"><b style="width:{{rest.CommentScore | formatScore}}%;"></b></span>
                            <span class="price" ng-if="!!rest.AveragePrice && rest.AveragePrice != 0">{{rest.CurrencyUnit.replace('RMB', '&yen;')}}<b>{{rest.AveragePrice}}</b>/人</span>
                        </div>
                        <div class="iconline clearfix">
                            <span class="rate_score" ng-if="rest.CommentScore"><b>{{rest.CommentScore.toFixed(1)}}</b>分</span>
                            <span class="rate_score" ng-if="!rest.CommentScore">暂无评分</span>
                            <span class="resticon" ng-if="rest.IsRebate">返<i ng-if="rest.RebateValue">{{rest.RebateValue}}%</i></span>
                            <!-- <span class="resticon" ng-if="rest.IsPackage">套餐</span> -->
                            <span class="resticon" ng-if="rest.IsGift">礼</span>
                        </div>
                        <div class="resttagline">
                            <span ng-repeat="tag in rest.FoodNameList" class="resttag">{{tag}}</span>
                            <span class="distance">{{rest.Distance}}</span>
                        </div>
                    </div>
                </a>

            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
