.findfoods {
    background: #1494CC;
    .current-location {
        position: absolute;
        top: 88px;
        color: #999;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        padding: 0 35px 0 10px;
        background: #FFF;
        @include border_line;
        border-bottom-width: 1px;
        z-index: 1;
        width: 100%;
        span{
          display: inline-block;
          width: 100%;
          line-height: 30px;
          height: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .refresh {
            position: absolute;
            right: 0;
            top: 0;
            background: url(../images/refresh_icon.png) no-repeat center;
            background-size: 15px 15px;
            width: 30px;
            height: 30px;
        }
    }
    .current-location .refresh.loadrotate {
      -webkit-animation: cui-loading 1.58s linear infinite;
      -moz-animation: cui-loading 1.58s linear infinite;
      -ms-animation: cui-loading 1.58s linear infinite;
      animation: cui-loading 1.58s linear infinite;
    }
    .findfoods_content {
        padding-top: 75px;
        .nodatamore{
          font-size: 14px;
          color: #666;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
    }
    .ajaxloading{
      text-align: center;
      color: #666;
      height: 20px;
      line-height: 20px;
      padding-top: 20px;
      font-size: 14px;
    }
    .scroll-infinite {
        margin-top: 0;
    }
    .ion-loading-food:after{
        content: '加载中...';
        font-size:14px;
    }
    .ion-loading-food:before{
        display: inline-block;
        content:'';
        width: 18px;
        height: 18px;
        margin-right: 5px;
        background: url(../images/send_loading.png) no-repeat center;
        background-size: 18px 18px;
        vertical-align: -3px;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
    }
}
