<ion-nav-buttons side="right">
    <button class="button button-icon btn_headfilter" ng-click="toggleBottomFilter()"> <i class="ion-headfilter"></i>
    </button>
</ion-nav-buttons>
<div class="bottomfilter animate-show-hide" ng-show="bottomFilterShow">
    <div class="bar bar-header bar-positive">
        <button class="button button-light button-clear" ng-click="bottomFilterShow=false">取消</button>
        <h1 class="title">筛选</h1>
        <button type="submit" class="button button-light button-clear" ng-click="bottomFilter()">完成</button>
    </div>
    <p ng-if="ifFirstFilter" class="ajaxloading"><i class="ion-loading-food"></i></p>
    <div class="bottomfilter_content" ng-if="!ifFirstFilter">
        <ion-scroll style="height:100%;">
            <label class="bf_checkbox" ng-class="{current:bfAllSort}" ng-click="bfAll()">
                <input type="checkbox" />
                全部类型 <i class="icon_checkbox"></i>
            </label>
            <h3 class="bf_title">优惠类型（单选）</h3>
            <div class="bf_checkboxcon">
                <!-- <label ng-repeat="sellsortdata in filterDate.SellSort" class="bf_checkbox" ng-model="SellSort[sellsortdata.Id]" ng-class="{current:SellSort[sellsortdata.Id]}">
                    <input type="checkbox" ng-model="SellSort[sellsortdata.Id]" />
                    {{sellsortdata.Name}}
                    <i class="icon_checkbox"></i>
                </label>
                -->
                <!-- <label class="bf_checkbox" ng-class="{current:restPostData.SellSortId==1}">
                    <input type="radio" name="sellsort" ng-value="1" value="1" ng-click="SetSellSort(1)" />
                    套餐
                    <i class="icon_checktaocan">套餐</i>
                    <i class="icon_checkbox"></i>
                </label> -->
                <label class="bf_checkbox" ng-class="{current:restPostData.SellSortId==2}">
                    <input type="radio" name="sellsort" ng-value="2" value="2" ng-click="SetSellSort(2)" />
                    消费返现
                    <i class="icon_checkfanxian">返现</i>
                    <i class="icon_checkbox"></i>
                </label>
                <label class="bf_checkbox" ng-class="{current:restPostData.SellSortId==3}">
                    <input type="radio" name="sellsort" ng-value="3" value="3" ng-click="SetSellSort(3)" />
                    热门团购
                    <i class="icon_checktuan">团</i>
                    <i class="icon_checkbox"></i>
                </label>
            </div>
            <h3 class="bf_title">价格（单选）</h3>
            <div class="bf_radiocon clearfix">
                <label ng-repeat="pricesortdata in filterDate.PriceSort" class="bf_radiobox" ng-class="{current:restPostData.PriceSortId=={{pricesortdata.Id}}}">
                    <input type="radio" name="pricesort" ng-value="{{pricesortdata.Id}}" ng-click="SetPriceSort({{pricesortdata.Id}})" value="{{pricesortdata.Id}}"  />
                    {{pricesortdata.Name}}
                </label>
                <!-- <label class="bf_radiobox" ng-class="{current:priceSortId=={{0}}}">
                <input type="radio" name="pricesort" ng-model="PriceSort" ng-value="0" ng-click="SetPriceSort(0)" value="0"  />
                不限
                </label>
                <label class="bf_radiobox" ng-class="{current:priceSortId=={{1}}}">
                    <input type="radio" name="pricesort" ng-model="PriceSort" ng-value="1" ng-click="SetPriceSort(1)" value="1"  />
                    100以内
                </label>
                <label class="bf_radiobox" ng-class="{current:priceSortId=={{2}}}">
                    <input type="radio" name="pricesort" ng-model="PriceSort" ng-value="2" ng-click="SetPriceSort(2)" value="2"  />
                    100-200
                </label>
                <label class="bf_radiobox" ng-class="{current:priceSortId=={{3}}}">
                    <input type="radio" name="pricesort" ng-model="PriceSort" ng-value="3" ng-click="SetPriceSort(3)" value="3"  />
                    200-300
                </label>
                <label class="bf_radiobox" ng-class="{current:priceSortId=={{4}}}">
                    <input type="radio" name="pricesort" ng-model="PriceSort" ng-value="4" ng-click="SetPriceSort(4)" value="4"  />
                    300以上
                </label>
                -->
            </div>
            <h3 class="bf_title">情景（多选）</h3>
            <div class="bf_checkboxcon">
                <label ng-repeat="scenesortdata in filterDate.SceneSort" class="bf_checkbox" ng-model="SceneSort[scenesortdata.Id]" ng-class="{current:SceneSort[scenesortdata.Id]}" ng-click="bfAllFalse()">
                    <input type="checkbox" ng-model="SceneSort[scenesortdata.Id]" />
                    {{scenesortdata.Name}}
                    <i class="icon_checkbox"></i>
                </label>
            </div>
        </ion-scroll>
    </div>
</div>
