<div class="top_filter_header">
    <a class="tf_headtab" ng-class="{current:choosetab==1}" ng-click="choosepop(1)"><span>{{filterResultDate.CuisineName}}</span><i class="ion-arrow-down-b"></i></a>
    <a class="tf_headtab" ng-class="{current:choosetab==2}" ng-click="choosepop(2)"><span>{{filterResultDate.LocationName}}</span><i class="ion-arrow-down-b"></i></a>
    <a class="tf_headtab" ng-class="{current:choosetab==3}" ng-click="choosepop(3)"><span>{{filterResultDate.OrderName}}</span><i class="ion-arrow-down-b"></i></a>
</div>
<div class="tf_popblock" ng-show="choosebg">
    <div class="tf_popblock_tabblock clearfix animate-show-hide" ng-show="choosetab==1">
        <p ng-if="ifFirstFilter" class="ajaxloading"><i class="ion-loading-food"></i></p>
        <ul class="tf_half1" ng-if="!ifFirstFilter">
            <ion-scroll class="tf_iscroll" scrollbar-y="false">
                <li ng-click="setFoodSortId(0,'全部菜系')">全部菜系</li>
                <li ng-click="setSort2({{$index}},'{{t_filter_foodsort1.CuisineName}}')" ng-class="{current:mslist=={{$index}}}" class="ion-chevron-right" ng-repeat="t_filter_foodsort1 in filterDate.Cuisines track by $index">{{t_filter_foodsort1.CuisineName}}</li>
            </ion-scroll>
        </ul>
        <ul class="tf_half2" ng-if="!ifFirstFilter">
            <ion-scroll class="tf_iscroll" scrollbar-y="false" ng-show="mslist=={{$index}}" ng-repeat="t_filter_foodsort2s in filterDate.Cuisines track by $index">
                <li ng-repeat="t_filter_foodsort2 in t_filter_foodsort2s.ChildCuisines"><a ng-click="setFoodSortId({{t_filter_foodsort2.CuisineId}},'{{t_filter_foodsort2.CuisineName}}')">{{t_filter_foodsort2.CuisineName}}</a></li>
            </ion-scroll>
        </ul>
    </div>
    <div class="tf_popblock_tabblock clearfix animate-show-hide area_tabblock" ng-show="choosetab==2">
        <p ng-if="ifFirstFilter" class="ajaxloading"><i class="ion-loading-food"></i></p>
        <div class="areatop_bar" ng-show="filterDate.SubwayLines.length>0" ng-if="!ifFirstFilter">
            <a ng-click="setAreaTab(1)" ng-class="{current:areatab==1}" class=""><i class="icon_area"></i>全部区域</a>
            <a ng-click="setAreaTab(2)" ng-class="{current:areatab==2}" class=""><i class="icon_subway"></i>地铁线路</a>
        </div>
        <div ng-show="areatab==1" ng-if="!ifFirstFilter">
            <ul class="tf_half1">
                <ion-scroll class="tf_iscroll" scrollbar-y="false">
                    <li><a ng-click="setAreaSortId('0','全部区域','zones')">全部区域</a></li>
                    <li ng-click="setArea(0)" ng-class="{current:arealist==0}" class="ion-chevron-right">热门商圈</li>
                    <li ng-click="setArea(1)" ng-class="{current:arealist==1}" class="ion-chevron-right">热门行政区</li>
                </ion-scroll>
            </ul>
            <ul class="tf_half2">
                <ion-scroll class="tf_iscroll" ng-show="arealist==0" scrollbar-y="false">
                    <!-- <li><a ng-click="setAreaSortId('0','全部商圈','zones')">全部商圈</a></li> -->
                    <li ng-repeat="t_filter_areasorthot in filterDate.Zones"><a ng-click="setAreaSortId({{t_filter_areasorthot.ZoneId}},'{{t_filter_areasorthot.ZoneName}}','zones')">{{t_filter_areasorthot.ZoneName}}</a></li>
                </ion-scroll>
                <ion-scroll class="tf_iscroll" ng-show="arealist==1" scrollbar-y="false">
                    <!-- <li><a ng-click="setAreaSortId('0','全部行政区','districts')">全部行政区</a></li> -->
                    <li ng-repeat="t_filter_areasortadmin in filterDate.Districts"><a ng-click="setAreaSortId({{t_filter_areasortadmin.DistrictId}},'{{t_filter_areasortadmin.DistrictName}}','districts')">{{t_filter_areasortadmin.DistrictName}}</a></li>
                </ion-scroll>
            </ul>
        </div>
        <div ng-show="areatab==2">
            <ul class="tf_half1">
                <ion-scroll class="tf_iscroll" scrollbar-y="false">
                    <li><a ng-click="setAreaSortId('0','地铁全线','subwayline')">地铁全线</a></li>
                    <li ng-class="{current:subwaylist=={{$index}}}" ng-click="setSubway({{$index}},'{{t_filter_subwaysort1.SubwayLineName}}')" ng-repeat="t_filter_subwaysort1 in filterDate.SubwayLines track by $index" class="ion-chevron-right">{{t_filter_subwaysort1.SubwayLineName}}</li>
                </ion-scroll>
            </ul>
            <ul class="tf_half2">
                <ion-scroll class="tf_iscroll" scrollbar-y="false" ng-show="subwaylist=={{$index}}" ng-repeat="t_filter_subwaysorts in filterDate.SubwayLines track by $index">
                    <!-- <li><a ng-click="setAreaSortId({{t_filter_subwaysorts.SubwayLineId}},'全部','subwayall')">全部</a></li> -->
                    <li ng-repeat="t_filter_subwaysort in t_filter_subwaysorts.SubwayStations"><a ng-click="setSubwayStation({{t_filter_subwaysort.SubwayStationId}},'{{t_filter_subwaysort.SubwayStationName}}','{{t_filter_subwaysort.SubwayStationLat}}','{{t_filter_subwaysort.SubwayStationLon}}','subwayline')">{{t_filter_subwaysort.SubwayStationName}}</a></li>
                </ion-scroll>
            </ul>
        </div>
    </div>
    <div class="tf_popblock_tabblock clearfix animate-show-hide" ng-show="choosetab==3">
        <p ng-if="ifFirstFilter" class="ajaxloading"><i class="ion-loading-food"></i></p>
        <ul class="tf_order_list" ng-if="!ifFirstFilter">
            <ion-scroll class="tf_iscroll" scrollbar-y="false">
                <li ng-repeat="t_filter_orderlist in filterDate.DefaultSort"><a ng-click="setOrderSortId({{t_filter_orderlist.Id}},'{{t_filter_orderlist.Name}}')">{{t_filter_orderlist.Name}}</a></li>
            </ion-scroll>
        </ul>
    </div>
</div>
<div ng-show="choosebg" ng-click="showchoosebg()" class="choosebg"></div>
