<a href="#/foods/rest/{{rest.RestaurantId}}" class="restitem" ng-repeat="rest in restaurants">
    <div class="restimg">
        <i class="icon_resttype{{rest.RecommendedTag.replace('当地必吃', '1').replace('媒体推荐', '2').replace('食神推荐', '3')}}"></i>
        <img alt="" ng-src="{{rest.ImageUrl || fallbackSrc}}" fallback-src="images/default-image.png"/>
    </div>
    <div class="restintro">
        <div class="restnameline">
            <span class="restname">{{formatRestaurantName(rest.RestaurantName, rest.Alias)}}</span>
            <span ng-if="rest.IsGroupon" class="icon_tuan">团</span>
            <span ng-if="rest.IsSuperior" class="icon_gaoduan">高端商户</span>
        </div>
        <div class="rateline clearfix">
            <span class="rate_block"><b style="width:{{rest.CommentScore | formatScore}}%;"></b></span>
            <span class="price" ng-if="!!rest.AveragePrice && rest.AveragePrice != 0">{{rest.CurrencyUnit.replace('RMB', '&yen;')}}<b>{{rest.AveragePrice}}</b>/人</span>
        </div>
        <div class="iconline clearfix">
            <span class="rate_score" ng-if="rest.CommentScore"><b>{{rest.CommentScore.toFixed(1)}}</b>分</span>
            <span class="rate_score" ng-if="!rest.CommentScore">暂无评分</span>
            <span class="resticon" ng-if="rest.IsRebate">返<i ng-if="rest.RebateValue">{{rest.RebateValue}}%</i></span>
            <!-- <span class="resticon" ng-if="rest.IsPackage">套餐</span> -->
            <span class="resticon" ng-if="rest.IsGift">礼</span>
        </div>
        <div class="resttagline">
            <span ng-repeat="tag in rest.FoodNameList" class="resttag">{{tag}}</span>
            <span class="distance">{{rest.Distance}}</span>
        </div>
    </div>
</a>
