<!-- 搜索 -->
<div class="ep-search slide-bottom-top" ng-init="showSearchPage = false" ng-class="{enter:showSearchPage,leave:!showSearchPage}">
	<div class="item-input-inset">
		<label class="item-input-wrapper"> <i class="icon ion-search placeholder-icon"></i>
			<input id="searchInput" ng-change="searchChange();" ng-model="searchObj.searchVal" type="search" placeholder="请输入关键字"></label>
		<button class="button-clear" ng-click="searchResultList = true;showSearchPage = false">取消</button>
	</div>

	<ion-scroll class="list" delegate-handle="searchScroll">
		<label ng-repeat="item in searchResultList track by $index" class="item search-item" ng-click="chooseItemSearch(item.Id)">{{item.Name}}</label>
		<div class="item no-search-results" ng-if="!searchResultList && searchObj.searchVal">抱歉，没有结果</div>
	</ion-scroll>
</div>