<ion-view title="忘记密码" class="ep-forget">

    <ion-content scroll="false">

        <dl class="forget-ctrl">
            <dt> <i>1</i>
                验证手机号码
            </dt>
            <dd>
                <label class="item-input"> <i class="icon placeholder-icon ion-person"></i>
                    <input focus-effect ng-model="inputVal.phoneNumber" type="number" placeholder="用户名"></label>
            </dd>
            <dd>
                <button get-verificationcode class="button button-positive validation-button" ng-class="{disabled: validationDisabled}">
                    <span ng-if="validationEnable">获取验证码</span>
                    <i ng-if="validationDisabled" ng-bind-html="validationHtml"></i>
                </button>
                <label class="item-input short-two">
                    <i class="icon placeholder-icon ion-key"></i>
                    <input focus-effect ng-model="inputVal.validationCode" type="number" placeholder="验证码"></label>
            </dd>
        </dl>

        <dl class="forget-ctrl">
            <dt>
                <i>2</i>
                密码最少6位数的数字或字符组合
            </dt>
            <dd>
                <label class="item-input">
                    <input focus-effect ng-model="inputVal.newPassword" type="password" placeholder="请输入新密码"></label>
            </dd>
            <dd>
                <label class="item-input">
                    <input focus-effect ng-model="inputVal.reenterPassword" type="password" placeholder="请再次输入新密码"></label>
            </dd>
            <dd>
                <button ng-click="getNewPasswd();" class="button button-block button-positive">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认</button>
            </dd>
        </dl>

    </ion-content>

</ion-view>