<ion-view title="商品详情" class="ep-detail">

    <ion-content delegate-handle="contentHandle">

        <!-- 商品幻灯区 -->
        <div class="goods-slide"> <i ng-if="product.Bargains == '是'" class="special-offer">特价</i>
            <div class="goods-no-img" ng-if="!goodsPictureList">抱歉，该商品暂无大图</div>
            <ion-slide-box class="slide-box" ng-if="goodsPictureList" ng-class="{special:specialList}">
                <ion-slide ng-repeat="item in goodsPictureList track by $index">
                    <div class="slide-page" ng-click="showLargerImg(item)">
                        <img ng-src="{{item}}"></div>
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="goods-detail">
            <div class="goods-name" style="display:-webkit-box;">
                <p ng-class="{'is-detail':!isWant}">{{product.Name}}</p>
                <a ng-if="!isWant && product.InnerId" collection-ctrl ng-class="{hasCollection:isCollect}" data-item="{{product | json}}" class="collection-btn"> <i class="icon ion-star"></i>
                    <br>
                    <span>{{isCollect ? '已收藏' : '收藏'}}</span>
                </a>
            </div>
            <p class="price">
                <span ng-if="product.Discount" class="p-discount">{{product.Discount}}折</span>
                内购价：
                <span class="p-red">&yen;{{product.InnerPrice}}</span>
                市场价：
                <s class="p-gray">&yen;{{product.MarketPrice}}</s>
            </p>
            <p ng-if="!isWant && product.Integral" class="integral">
                积分：
                <span class="p-red">{{product.Integral}}</span>
            </p>
        </div>

        <div class="parameter" ng-if="!isWant">
            <ul>
                <li>
                    <span>保质期：</span>
                    {{product.ShelfLife}}
                </li>
                <li>
                    <span>库存量：</span>
                    {{product.Inventory}}件
                </li>
                <li ng-if="product.NumPurchasing">
                    <span>限购数：</span>
                    {{product.NumPurchasing}}件
                </li>
            </ul>
            <div ng-if="specification" class="select-bar ion-ios-arrow-down">
                请选择商品规格：
                <select ng-model="specificationId">
                    <option value="{{item.Id}}" ng-selected="$index == 0" ng-repeat="item in specification track by $index">{{item.Name}}</option>
                </select>
            </div>
        </div>

        <div class="goods-text">
            <div class="switch-tabs" style="display: -webkit-box;">
                <a ng-class="{current: tabIndex == 0}" ng-click="switchTab(0)">商品描述</a>
                <a ng-class="{current: tabIndex == 1}" ng-click="switchTab(1)">其他备注</a>
                <span ng-style="tabSlide"></span>
            </div>
            <p ng-if="tabIndex == 0" class="switch-conts" ng-bind-html="product.description"></p>
            <p ng-if="tabIndex == 1" class="switch-conts" ng-bind-html="product.remark"></p>
        </div>

    </ion-content>

    <div ng-if="largerImg" class="larger-img" style="display:-webkit-box;">
        <a class="close" ng-click="showLargerImg(null)">×</a>
        <img ng-src="{{largerImg}}"></div>

    <div class="goods-bar">
        <a class="share-btn" ng-class="{current:shareHtml}" ng-click="shareCtrl();">
            <i class="icon ion-share"></i>
        </a>
        <p ng-if="isWant" class="want-to icon" ng-class="{'ion-bar-heart':!product.HasVote,'ion-ios-heart':product.HasVote}">
            <span ng-click="wantToHeart(product.ProductID);">{{product.HasVote ? '已投票':'我想要'}}</span>
            {{product.VoteCount}}
        </p>
        <a ng-if="!isWant" ng-click="addToCart($event, product);" ng-class="{disabled:hasAdded}" class="add-to-cart">{{hasAdded ? '已加入购物车' : '加入购物车'}}</a>
    </div>

    <bottom-bar></bottom-bar>

</ion-view>

<ion-nav-buttons side="right">
    <shopping-cart></shopping-cart>
</ion-nav-buttons>
