.ep-detail {
    .goods-slide {
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 0 35px;
        .slide-box {
            width: 84%;
            margin: 0 auto;
            box-sizing: content-box !important;
            &.special {
                padding: 0 8%;
            }
            .slider-slide {
                width: 84%;
                .slide-page {
                    padding: 0 3%;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
