.ep-detail {
    $Color666:#666;
    $Color888:#888;
    $Color999:#999;
    .scroll {
        padding-bottom: 50px;
    }
    .goods-slide {
        position: relative;
        background-color: #fff;
        height: 205px;
        .slide-box {
            box-sizing: content-box !important;
            padding-top: 10px;
            padding-bottom: 30px;
            .slider-slide {
                height: 160px;
                overflow: hidden;
                .slide-page {
                    padding: 0 20px;
                    text-align: center;
                    img {
                        max-height: 160px;
                        border-radius: 5px;
                    }
                }
            }
            .slider-pager {
                bottom: 13px;
                .slider-pager-page {
                    width: 10px;
                    font-size: 12px;
                    &.active i {
                        color: #0642aa;
                    }
                }
            }
        }
        .special-offer {
            display: block;
            position: absolute;
            top: 10px;
            right: 50px;
            z-index: 1;
            background-color: #ef7430;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #fff;
            width: 40px;
            height: 40px;
            font-weight: bold;
            overflow: hidden;
            text-align: center;
            line-height: 40px;
        }
        .goods-no-img {
            color: #999;
            line-height: 200px;
            text-align: center;
        }
    }
    .goods-detail {
        padding-left: 15px;
        padding-right: 10px;
        background-color: #fff;
        @include border-line;
        border-bottom-width: 1px;
        margin-bottom: 3px;
        .goods-name {
            -webkit-box-orient: horizontal;
            -webkit-box-align: center;
            margin-bottom: 10px;
            p {
                font-weight: bold;
                margin-bottom: 0;
                &.is-detail {
                    width: 80%;
                }
            }
            .collection-btn {
                display: inline-block;
                @include border-line;
                border-left-width: 1px;
                text-align: center;
                width: 55px;
                height: 46px;
                padding-top: 4px;
                margin-left: 5px;
                line-height: 18px;
                color: $Color666;
                font-size: 15px;
                .ion-star {
                    color: #4e8eeb;
                    font-size: 25px;
                    margin-left: 4px;
                }
                .ion-star:before {
                    content: "\f4b2";
                }
                &.hasCollection {
                    .ion-star:before {
                        content: "\f4b3";
                    }
                }
            }
        }
        .price {
            color: $Color888;
            .p-red {
                font-size: 24px;
                margin-right: 12px;
            }
            .p-discount {
                float: right;
                margin-top: 3px;
                margin-right: 3px;
                width: 36px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                background-color: #ef742f;
                color: #fff;
                font-size: 12px;
            }
        }
        .integral {
            color: $Color888;
            .p-red {
                font-size: 15px;
            }
        }
        .p-red {
            color: #e85454;
        }
    }
    .parameter {
        margin-bottom: 3px;
        ul {
            padding: 5px 0;
            background-color: #fff;
            li {
                color: $Color888;
                padding: 0 15px;
                line-height: 28px;
                span {
                    margin-right: 8px;
                }
            }
        }
        .select-bar {
            background-color: #fff;
            color: $Color888;
            margin-top: 3px;
            padding: 10px 15px;
            @include clear-float;
            @include border-line;
            border-bottom-width: 1px;
            select {
                color: $Color888;
                min-width: 150px;
                max-width: 300px;
                border: 0 none;
            }
            &.ion-ios-arrow-down:before {
                float: right;
                font-size: 18px;
                content: "\f3d0";
            }
        }
    }
    .goods-text {
        @include clear-float;
        @include border-line;
        border-top-width: 1px;
        background-color: #fff;
        padding-bottom: 50px;
    }
    .switch-tabs {
        height: 50px;
        @include border-line;
        border-bottom-width: 1px;
        position: relative;
        z-index: 1;
        a {
            display: block;
            -webkit-box-flex: 1;
            text-align: center;
            line-height: 50px;
            &.current {
                color: #4a88ef;
            }
            &:first-child {
                @include border-line;
                border-right-width: 1px;
            }
        }
        span {
            background-color: #4a88ef;
            position: absolute;
            width: 50%;
            height: 3px;
            bottom: -1px;
            left: 0;
            -webkit-transition: left ease-out 200ms;
        }
    }
    .switch-conts {
        padding: 10px 15px;
        margin-bottom: 0;
    }
    .share-ctrl {
        position: fixed;
        width: 100%;
        height: 44px;
        bottom: 93px;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        .bdsharebuttonbox {
            margin: 0 auto;
            height: 44px;
            a {
                float: right;
                border-radius: 3px;
            }
        }
    }
    .goods-bar {
        position: absolute;
        bottom: 49px;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 44px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3px 5px;
        color: #fff;
        .add-to-cart {
            display: inline-block;
            width: 260px;
            height: 38px;
            line-height: 38px;
            background-color: #4a88ef;
            text-align: center;
            color: #fff;
            &.disabled {
                color: $Color666;
                background-color: #ccc;
            }
        }
        .share-btn {
            float: right;
            display: block;
            width: 44px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            background-color: #ddd;
            color: $Color999;
            &.current {
                background-color: #fff;
            }
            .ion-share:before {
                font-size: 28px;
                content: "\f220";
            }
        }
        .want-to {
            width: 260px;
            height: 38px;
            line-height: 36px;
            margin-bottom: 0;
            display: inline-block;
            border: 1px solid #4a87ee;
            font-weight: bold;
            span {
                float: right;
                display: inline-block;
                width: 140px;
                text-align: center;
            }
            &.ion-bar-heart {
                background-color: #fff;
                color: #4a87ee;
                span {
                    border-left: 1px solid #4a87ee;
                }
            }
            &.ion-bar-heart:before, &.ion-ios-heart:before {
                font-size: 20px;
                margin-left: 20px;
                margin-right: 15px;
                vertical-align: middle;
            }
            &.ion-bar-heart:before {
                content: "\f442";
            }
            &.ion-ios-heart {
                background-color: #4a87ee;
                color: #fff;
                span {
                    border-left: 1px solid #fff;
                }
            }
            &.ion-ios-heart:before {
                content: "\f443";
            }
        }
    }
}
#bdshare_weixin_qrcode_dialog {
    box-sizing: content-box;
    overflow: hidden;
    .bd_weixin_popup_close {
        font-family: arial;
        font-size: 20px;
    }
    .bd_weixin_popup_main {
        padding-bottom: 20px;
    }
}
