<ion-view title="{{pageTitle}}" class="home" ng-class="{searching:searching}" ng-show="hasResult">
    <ion-content>
        <!-- 搜索 -->
        <div class="search">
            <i class="icon ion-search placeholder-icon"></i>
            <i class="icon ion-close-round" ng-click="clearSearch()" ng-if="searchObj.key"></i>
            <div class="search-btn" ng-click="doSearchBack()" ng-if="searching">取消</div>
            <!-- <div class="search-btn" ng-click="doSearch()" ng-if="searching">搜索</div> -->
            <form>
                <input id="searchInput" type="search" ng-click="onSearch()" ng-model="searchObj.key" ng-change="onInput($event)" ng-keydown="onKeydown($event)" placeholder="搜索餐馆、菜、商圈/景区周边">
            </form>
        </div>

        <!-- 导航块 -->
        <div class="nav-bar" ng-if="!searching">
            <a class="spec-foods" href="#/foods/spec/{{destId}}">特色菜</a>
            <a class="hot-foods" href="#/foods/hot/{{destId}}">人气餐馆</a>
            <a class="find-foods" href="#/foods/findfoods/{{destId}}?{{orderSort1}}">当地美食</a>
        </div>

        <!-- 榜单 -->
        <div class="operators-pos" ng-if="rankingNum > 0 && mainInfo.RestaurantRankingList.length > 0 && !searching">
            <div class="con-title">榜单</div>
            <a class="operators-item" ng-click="rankingJump('{{ranking.Url}}')" ng-style="{'background-image': 'url(' + ranking.ImageUrl + ')'}" ng-repeat="ranking in mainInfo.RestaurantRankingList | limitTo:rankingNum">
                <div class="bg">
                    <span class="title">{{ranking.Title}}</span><span class="desc">{{ranking.Description}}</span>
                </div>
            </a>
        </div>

        <!-- 发现特色 -->
        <div class="find-sepc" ng-if="featureRestNum > 0 && mainInfo.FeatureRestaurantList.length > 0 && !searching">
            <div class="con-title">发现特色</div>
            <div class="con-item">
                <a class="spec-item" ng-href="#/foods/findfoods/{{destId}}?scene={{featureRest.LabelId}}&title={{featureRest.Title}}&{{orderSort1}}" ng-repeat="featureRest in mainInfo.FeatureRestaurantList | limitTo:featureRestNum">
                    <img ng-src="{{featureRest.LogUrl || fallbackSrc}}" fallback-src="images/default-image.png" />
                    <span class="title">{{featureRest.Title}}</span><span>{{featureRest.Description}}</span>
                </a>
            </div>
        </div>

        <!-- 为您推荐 -->
        <div class="recommend" ng-if="restaurants.length > 0 && !searching">
            <div class="tips">猜你喜欢</div>
            <foods-restlist></foods-restlist>
        </div>
    </ion-content>
    <!--<ion-footer-bar ng-class="{invisible: searching}">
        <a class="order">
            <div class="icon"></div>
            <div>我的订单</div>
        </a>
        <a class="favorite">
            <div class="icon"></div>
            <div>我的收藏</div>
        </a>
    </ion-footer-bar>-->

    <!-- 搜素面板 -->
    <ion-scroll class="search-panel" ng-if="searching" on-scroll="onScroll()">
        <div class="search-list" ng-if="searchObj.list">
            <a href="{{item.Href}}" ng-repeat="item in searchObj.list">
                <div class="count" ng-if="item.Count">{{item.Count}}结果</div>
                <div class="detail" ng-bind-html="item.Name"></div>
            </a>
        </div>
        <div class="search-near" ng-if="searchObj.near">
            <a href="{{near.Href}}" ng-repeat="near in searchObj.near" ng-bind-html="near.Name"></a>
        </div>
        <div class="search-none" ng-if="showNoResult">抱歉，没有找到“{{searchObj.key}}”相关信息</div>
    </ion-scroll>
</ion-view>
