.ep-list {
    .bar-positive {
        position: relative;
        z-index: 12;
        .ion-search {
            margin-top: 5px;
            margin-right: 4px;
        }
    }
    .activity-date {
        position: relative;
        z-index: 12;
        margin-top: 1px;
        height: 25px;
        line-height: 25px;
        background-color: #f2f2f2;
        font-size: 12px;
        color: #999;
        .ion-time-alarm {
            font-size: 18px;
            margin: 0 5px 0 8px;
            vertical-align: middle;
        }
        .ion-time-alarm:before {
            content: "\f3c7";
        }
    }
    .filters {
        width: 100%;
        height: 48px;
        position: relative;
        z-index: 12;
        display: -webkit-flex;
        display: flex;
        background-color: #474747;
        color: #fff;
        div {
            text-align: center;
            line-height: 48px;
            -webkit-flex: 1;
            flex: 1;
            font-weight: bold;
            overflow: hidden;
            max-width: 150px;
            height: 100%;
            opacity: 0.8;
            &.active, &.activated {
                opacity: 1;
            }
        }
        .cyan {
            background-color: #29ccc9;
            -webkit-flex: 1.6;
            flex: 1.6;
            .ion-ios-arrow-down {
                vertical-align: middle;
                font-size: 20px;
                margin-left: 6px;
            }
            .ion-ios-arrow-down:before {
                content: "\f3d0";
            }
        }
        .switch-style {
            -webkit-flex: 0.8;
            flex: 0.8;
        }
        .ion-single-row {
            font-size: 24px;
        }
        .ion-single-row:before {
            content: "\f20d";
        }
        .ion-double-row {
            display: inline-block;
            overflow: hidden;
            font-size: 44px;
            width: 19px;
            height: 28px;
            margin-top: 5px;
            margin-left: 1px;
        }
        .ion-double-row:before {
            content: "\f35c";
        }
        .ion-arrow-up, .ion-arrow-down {
            vertical-align: middle;
            margin-left: 4px;
            font-size: 20px;
        }
        .ion-arrow-up:before {
            content: "\f3d7";
        }
        .ion-arrow-down:before {
            content: "\f3d4";
        }
    }
    .sort-nav {
        width: 100%;
        height: 40%;
        position: absolute;
        background-color: #fff;
        top: 73px;
        left: 0;
        z-index: 11;
        .sort-loading {
            color: #666;
            text-align: center;
            margin-top: 60px;
        }
        .button-positive {
            width: 70px;
            min-height: 30px;
            line-height: 30px;
            border-radius: 5px;
            margin: 60px auto;
            padding: 0;
            font-size: 13px;
        }
        .sort-lvl-1, .sort-lvl-2 {
            float: left;
            width: 50%;
            overflow: hidden;
            margin-top: 0;
            a {
                display: block;
                height: 32px;
                line-height: 32px;
                padding-left: 12px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &.active, &.activated {
                    background-color: #eee;
                }
            }
            .scroll {
                padding: 5px 0;
            }
        }
        .sort-lvl-1 {
            background-color: #ccc;
            a {
                padding-right: 15px;
                &.ion-arrow-right:before {
                    float: right;
                    margin-left: 8px;
                    content: "\f3d1";
                }
            }
        }
        .sort-lvl-2 {
            background-color: #eee;
        }
    }
    .sort-brand {
        width: 100%;
        height: 40%;
        padding-top: 10px;
        padding-left: 10px;
        position: absolute;
        background-color: #fff;
        top: 73px;
        left: 0;
        z-index: 11;
        .sort-loading {
            color: #666;
            text-align: center;
            margin-top: 60px;
        }
        .button-positive {
            width: 70px;
            min-height: 30px;
            line-height: 30px;
            border-radius: 5px;
            margin: 60px auto;
            padding: 0;
            font-size: 13px;
        }
        a {
            display: inline-block;
            margin-right: 10px;
            height: 28px;
            line-height: 28px;
            padding: 0 10px;
            margin-bottom: 10px;
            background-color: #4a87ee;
            color: #fff;
        }
    }
    .filter-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: 0.1s opacity linear;
        &.active {
            opacity: 1;
        }
    }
    .is-heart .sort-nav {
        top: 112px;
    }
    .list-box .scroll {
        padding-bottom: 110px;
        .goods-list-double {
            padding-top: 4px;
        }
    }
    .is-heart .list-box .scroll {
        padding-bottom: 220px;
    }
    .load-more-bar {
        margin-top: -11px;
        .ion-loading-d:before {
            content: "\f29d";
        }
    }
    .want-more-ctrl {
        position: absolute;
        bottom: 49px;
        left: 0;
        z-index: 12;
        width: 100%;
        padding: 5px 10px 0;
        background-color: #fff;
        @include border-line;
        border-top-width: 1px;
        overflow: hidden;
        .button-positive {
            border-radius: 5px;
        }
        &.has-bottom {
            padding-bottom: 49px;
        }
    }
}
// 列表样式
.goods-item {
    display: block;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.goods-list {
    width: 100%;
    .goods-item {
        width: 100%;
        @include border-line;
        border-bottom-width: 1px;
        padding: 10px;
        @include clear-float;
        .img {
            width: 90px;
            height: 90px;
            overflow: hidden;
            @include border-line;
            border-width: 1px;
            background-color: #f3f3f3;
            // background: #f8f8f8 url(../images/default_image.png) center center no-repeat;
            background-size: 90px 90px;
            float: left;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        .detail {
            h3 {
                @include cutting-word(65%);
                color: #000;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
                margin-bottom: 5px;
            }
            .text {
                @include cutting-word(65%);
                color: #666;
                font-size: 12px;
                margin-bottom: 5px;
            }
            .p-gray, .p-red {
                font-size: 12px;
                color: #000;
                margin-bottom: 0;
            }
            .p-red span {
                color: #e85454;
                font-size: 18px;
                vertical-align: middle;
                margin-left: 20px;
            }
            .p-gray s {
                color: #999;
                margin-left: 20px;
            }
            .p-heart {
                padding-top: 2px;
                margin-bottom: 7px;
                .p-red {
                    color: #e85454;
                    font-size: 18px;
                    vertical-align: middle;
                }
                s {
                    color: #999;
                    margin: 0 10px;
                }
                .p-discount {
                    display: inline-block;
                    width: 36px;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                    background-color: #ef742f;
                    color: #fff;
                    font-size: 12px;
                }
            }
            .want-to {
                width: 190px;
                height: 35px;
                line-height: 33px;
                margin-bottom: 0;
                display: inline-block;
                border: 1px solid #4a87ee;
                font-weight: bold;
                span {
                    float: right;
                    display: inline-block;
                    width: 85px;
                    text-align: center;
                }
                &.ion-bar-heart {
                    background-color: #fff;
                    color: #4a87ee;
                    span {
                        border-left: 1px solid #4a87ee;
                    }
                }
                &.ion-bar-heart:before, &.ion-ios-heart:before {
                    font-size: 20px;
                    margin-left: 15px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                &.ion-bar-heart:before {
                    content: "\f442";
                }
                &.ion-ios-heart {
                    background-color: #4a87ee;
                    color: #fff;
                    span {
                        border-left: 1px solid #fff;
                    }
                }
                &.ion-ios-heart:before {
                    content: "\f443";
                }
            }
        }
    }
}
.goods-list-double {
    width: 100%;
    overflow: hidden;
    @include clear-float;
    .goods-item {
        float: left;
        width: 50%;
        padding: 6px 5px 4px;
        .img {
            position: relative;
            z-index: 1;
            min-height: 150px;
            @include border-line;
            border-width: 1px;
            background-color: #f3f3f3;
            // background: #f8f8f8 url(../images/default_image.png) center center no-repeat;
            background-size: 150px 150px;
            img {
                width: 100%;
            }
            .mask {
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .5);
                width: 100%;
                height: 40px;
                color: #fff;
                font-size: 13px;
                padding: 3px 5px 0;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .price {
            @include border-line;
            border-width: 1px;
            border-top-width: 0;
            padding: 0 6px;
            line-height: 30px;
            .p-discount {
                float: right;
                width: 36px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                margin-top: 6px;
                background-color: #ef742f;
                color: #fff;
                font-size: 12px;
            }
            .p-red {
                color: #e85454;
                font-size: 18px;
                margin-right: 5px;
            }
            .p-gray {
                color: #999;
            }
        }
    }
}