.ep-list {
    .activity-date {
        margin-top: 1px;
        height: 25px;
        line-height: 25px;
        background-color: #f2f2f2;
        font-size: 12px;
        color: #999;
        .ion-time-alarm {
            font-size: 18px;
            margin: 0 5px 0 8px;
            vertical-align: middle;
        }
        .ion-time-alarm:before {
            content: "\f3c7";
        }
    }
    .filters {
        width: 100%;
        height: 48px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #474747;
        color: #fff;
        div {
            text-align: center;
            line-height: 48px;
            flex: 1;
            font-weight: bold;
            overflow: hidden;
            max-width: 150px;
            height: 100%;
            opacity: 0.8;
        }
        .cyan {
            background-color: #29ccc9;
            flex: 1.6;
            .ion-ios-arrow-down {
                vertical-align: middle;
                font-size: 20px;
                margin-left: 6px;
            }
            .ion-ios-arrow-down:before {
                content: "\f3d0";
            }
        }
        .switch-style {
            flex: 0.8;
        }
        .ion-single-row {
            font-size: 24px;
        }
        .ion-single-row:before {
            content: "\f20d";
        }
        .ion-double-row {
            display: inline-block;
            overflow: hidden;
            font-size: 44px;
            width: 19px;
            height: 28px;
            margin-top: 5px;
            margin-left: 1px;
        }
        .ion-double-row:before {
            content: "\f35c";
        }
        .ion-arrow-up, .ion-arrow-down {
            vertical-align: middle;
            margin-left: 4px;
            font-size: 20px;
        }
        .ion-arrow-up:before {
            content: "\f3d7";
        }
        .ion-arrow-down:before {
            content: "\f3d4";
        }
    }
    .scroll {
        padding-bottom: 120px;
        .product-list-double {
            padding-top: 4px;
        }
    }
    .ion-loading-d:before {
        content: "\f29d";
    }
}
// 列表样式
.product-item {
    display: block;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.product-list {
    width: 100%;
    .product-item {
        width: 100%;
        @include border-line;
        border-bottom-width: 1px;
        padding: 10px;
        @include clear-float;
        .img {
            width: 90px;
            height: 90px;
            @include border-line;
            border-width: 1px;
            background: #f8f8f8 url(../images/default_image.png) center center no-repeat;
            background-size: 90px 90px;
            float: left;
            margin-right: 10px;
        }
        .detail {
            h3 {
                @include cutting-word(65%);
                color: #000;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
                margin-bottom: 5px;
            }
            .text {
                @include cutting-word(65%);
                color: #666;
                font-size: 12px;
                margin-bottom: 5px;
            }
            .p-gray, .p-red {
                font-size: 12px;
                color: #000;
                margin-bottom: 0;
            }
            .p-red span {
                color: #ff0000;
                font-size: 18px;
                vertical-align: middle;
                margin-left: 20px;
            }
            .p-gray s {
                color: #999;
                margin-left: 20px;
            }
        }
    }
}
.product-list-double {
    width: 100%;
    overflow: hidden;
    @include clear-float;
    .product-item {
        float: left;
        width: 50%;
        padding: 6px 5px 4px;
        .img {
            position: relative;
            z-index: 1;
            min-height: 150px;
            @include border-line;
            border-width: 1px;
            background: #f8f8f8 url(../images/default_image.png) center center no-repeat;
            background-size: 150px 150px;
            .mask {
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .5);
                width: 100%;
                height: 40px;
                color: #fff;
                font-size: 13px;
                padding: 3px 5px 0;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .price {
            @include border-line;
            border-width: 1px;
            border-top-width: 0;
            padding: 0 6px;
            line-height: 30px;
            .p-discount {
                float: right;
                width: 36px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                margin-top: 6px;
                background-color: #ef742f;
                color: #fff;
                font-size: 12px;
            }
            .p-red {
                color: #ff0000;
                font-size: 18px;
                margin-right: 5px;
            }
            .p-gray {
                color: #999;
            }
        }
    }
}
