<ion-view title="商品列表" class="ep-list" hide-nav-bar="isHeart">

    <ion-content scroll="false" ng-class="{'is-heart':isHeart}">

        <!-- 头部 -->
        <div ng-if="isHeart" class="bar-positive bar bar-header">
            <h1 class="title">商品列表</h1>
            <a ng-click="showSearch();" ng-show="showGlass" class="icon ion-search ep-list-search"></a>
            <shopping-cart></shopping-cart>
        </div>

        <no-network></no-network>

        <div ng-if="noNetwork == false && !isHeart" class="activity-date"> <i class="icon ion-time-alarm"></i>
            活动日期：{{startTime}}至{{endTime}}，距离结束还有：{{restTime}}
        </div>

        <div ng-if="noNetwork == false" class="filters">
            <div ng-click="filtersCtrl('sort');" ng-class="{active:showSort}" class="cyan">
                筛选 <i class="icon ion-ios-arrow-down"></i>
            </div>
            <div ng-click="filtersCtrl('brand');" ng-class="{active:showBrand}">品牌</div>
            <div ng-click="filtersCtrl('price');">
                价格
                <i ng-class="{'ion-arrow-up':priceUp == 'asc','ion-arrow-down':priceUp == 'desc'}" class="icon"></i>
            </div>
            <div ng-click="filtersCtrl('discount');">
                折扣
                <i ng-class="{'ion-arrow-up':discountUp == 'asc','ion-arrow-down':discountUp == 'desc'}" class="icon"></i>
            </div>
            <div ng-if="!isHeart" class="switch-style" ng-click="filtersCtrl();">
                <i ng-class="{'ion-double-row':isSingle,'ion-single-row':!isSingle}" class="icon"></i>
            </div>
        </div>

        <div class="sort-nav" ng-if="showSort">
            <p ng-if="!sortPrimary && !loadFail" class="sort-loading">加载中...</p>
            <button ng-if="loadFail" class="button button-positive button-block" ng-click="getCategoryList();">重新加载</button>
            <ion-scroll class="sort-lvl-1" ng-if="sortPrimary" delegate-handle="sortPrimary">
                <a class="icon ion-arrow-right" ng-click="sortSelect($index);" ng-class="{active:sortPrimarySelected == $index}" ng-repeat="item in sortPrimary track by $index">{{item.Name}}</a>
            </ion-scroll>
            <ion-scroll class="sort-lvl-2" ng-if="sortPrimary" delegate-handle="sortSecondary">
                <a ng-click="sortSelect(item.Id);" ng-repeat="item in sortSecondary track by $index">{{item.Name}}</a>
            </ion-scroll>
        </div>

        <div class="sort-brand" ng-if="showBrand">
            <p ng-if="!brandList && !loadFail" class="sort-loading">加载中...</p>
            <button ng-if="loadFail" class="button button-positive button-block" ng-click="getBrandList();">重新加载</button>
            <a ng-click="brandSelect(item.Id);" ng-repeat="item in brandList track by $index">{{item.Name}}</a>
        </div>

        <div ng-class="{active:showSort || showBrand}" ng-click="filtersCtrl('backdrop');" class="filter-backdrop"></div>

        <no-results ng-if="noResults" data-text="抱歉，查询无结果" data-glass="true"></no-results>

        <ion-scroll ng-if="!noResults" class="list-box" delegate-handle="listScroll">

            <div class="goods-list" ng-if="isSingle">
                <a class="goods-item" ng-click="toDetail(1234);" ng-repeat="item in goodsList track by $index">
                    <div class="img">
                        <img ng-src=""></div>
                    <div ng-if="!isHeart" class="detail">
                        <h3>我是产品名称我是产品名称我是产品名称</h3>
                        <p class="text">尺寸，备注等尺寸，备注等尺寸，备注等尺寸，备注等尺寸，备注等尺寸，备注等</p>
                        <p class="p-gray">
                            市场价
                            <s>&yen;260</s>
                        </p>
                        <p class="p-red">
                            内购价
                            <span>&yen;148</span>
                        </p>
                    </div>

                    <div ng-if="isHeart" class="detail">
                        <h3>我是产品名称我是产品名称我是产品名称</h3>
                        <p class="p-heart">
                            <span class="p-red">&yen;148</span>
                            <s>&yen;260</s>
                            <span class="p-discount">5.5折</span>
                        </p>
                        <p ng-init="item.hasHeart = false" class="want-to icon" ng-class="{'ion-bar-heart':!item.hasHeart,'ion-ios-heart':item.hasHeart}">
                            <span ng-click="wantToHeart($index,item.commentPrize);$event.stopPropagation();">{{item.hasHeart ? '已投票':'我想要'}}</span>
                            {{item.commentPrize}}
                        </p>
                    </div>

                </a>
            </div>

            <div class="goods-list-double" ng-if="!isHeart && !isSingle">
                <a class="goods-item" ng-click="toGoodsDetail(1234);" ng-repeat="item in goodsList track by $index">
                    <div class="img">
                        <img ng-src="">
                        <div class="mask" style="display:-webkit-box;">
                            水之密语 凝润水护套装（洗发水600ml+护发素600ml+亲水沐)水之密语 凝润水护套装（洗发水600ml+护发素600ml+亲水沐)
                        </div>
                    </div>
                    <div class="price">
                        <span class="p-discount">5.5折</span>
                        <span class="p-red">&yen;148</span>
                        <s class="p-gray">&yen;260</s>
                    </div>
                </a>
            </div>

            <ion-infinite-scroll class="load-more-bar" on-infinite="loadMore();" distance="10px"></ion-infinite-scroll>

        </ion-scroll>

    </ion-content>

    <div ng-if="noNetwork == false && isHeart" class="want-more-ctrl">
        <button class="button button-block button-positive" ng-click="wantMore();" ng-class="{disabled: stepOneDisabled}">还 想 要</button>
    </div>

    <bottom-bar></bottom-bar>

</ion-view>

<search-page></search-page>

<ion-nav-buttons side="right">
    <a ng-click="showSearch();" ng-if="!noNetwork" ng-show="showGlass" class="icon ion-search ep-list-search"></a>
    <shopping-cart></shopping-cart>
</ion-nav-buttons>