<ion-view title="企福惠" class="ep-login" hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="ep-header-bg">
            <h1>企福惠</h1>
            <div class="user-cover">
                <img ng-src="images/user_img.png"></div>
        </div>
        <div class="login-ctrl">
            <ul>
                <li>
                    <label class="item-input"> <i class="icon placeholder-icon ion-person"></i>
                        <input focus-effect ng-model="inputVal.phoneNumber" type="number" placeholder="用户名"></label>
                </li>
                <li>
                    <label class="item-input"> <i class="icon placeholder-icon ion-key"></i>
                        <input focus-effect ng-model="inputVal.password" type="password" placeholder="密码"></label>
                </li>
                <li class="checkbox-li">
                    <label class="checkbox">
                        <input ng-model="inputVal.checked" type="checkbox">记住我</label>
                    <a ng-click="toJump('forget-password');" class="forget-password">忘记密码</a>
                </li>
                <li>
                    <button ng-click="getLogin();" class="button button-block button-positive">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                </li>
                <li>
                    <a ng-click="toJump('registered');">还没有账号，马上注册</a>
                </li>
            </ul>

        </div>
        <div class="bottom-bg"><img ng-src="images/bottom_bg.png"></div>
    </ion-content>
</ion-view>
