.ep-person {
    .ep-header-bg {
        .user-cover {
            @include icon-bg(168px, 168px, url(../images/user_default.png));
            background-origin: border;
            border: 8px solid transparent;
            border-radius: 26px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: absolute;
            left: 8%;
            bottom: 11px;
            z-index: 1;
            overflow: hidden;
            img {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -40px 0 0 -40px;
                width: 80px;
                height: 80px;
            }
        }
        .user-info {
            color: #fff;
            display: block;
            width: 60%;
            padding-top: 10px;
            position: absolute;
            right: 0;
            bottom: 30px;
            &.ion-arrow-right {
                &:before {
                    float: right;
                    margin: 1px 20px 0 0;
                    font-size: 30px;
                    content: "\f3d1";
                }
            }
            span {
                display: block;
                font-size: 18px;
                margin-bottom: 5px;
            }
        }
        .shopping-cart {
            bottom: 111px;
        }
    }
    .user-record {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        background-color: #fff;
        height: 80px;
        a {
            -webkit-flex: 1;
            flex: 1;
            max-width: 150px;
            text-align: center;
            color: #4a87ee;
            font-weight: bold;
            font-size: 18px;
            padding-top: 5px;
            i {
                @include icon-bg(68px, 60px, url(), inline-block);
                &.all-order {
                    background-image: url(../images/person_order.png);
                }
                &.pay-order {
                    background-image: url(../images/person_pay.png);
                }
                &.rec-order {
                    background-image: url(../images/person_delivery.png);
                }
            }
            span {
                display: block;
                font-size: 14px;
                line-height: 28px;
                margin: -6px auto -4px;
                color: #999;
                font-weight: 400;
                border-right: 1px solid #4a87ee;
            }
            &:last-child span {
                border-right: 0;
            }
            &.activated {
                background-color: #f5f5f5;
            }
        }
    }
    .user-details {
        margin-top: 1px;
        position: relative;
        z-index: 1;
        .scroll {
            height: 600px;
        }
        .item {
            font-size: 14px;
            color: #999;
            margin: 0 15px;
            padding: 0 4px 0 6px;
            height: 45px;
            line-height: 44px;
            background: none;
            @include border-line;
            border-bottom-width: 1px;
            text-align: right;
            span {
                float: left;
            }
            &:first-child {
                border-top: 0 none;
            }
            &:last-child {
                border-bottom: 0 none;
                text-align: center;
                &.activated {
                    color: #999;
                }
            }
            &.ion-arrow-right {
                &:before {
                    float: right;
                    margin-left: 12px;
                    font-size: 18px;
                    content: "\f3d1";
                }
            }
            &.activated {
                color: #ccc;
            }
            &.logout {
                color: #e02929;
                text-align: center;
                &.activated {
                    color: #e02929;
                    opacity: 0.7;
                }
            }
        }
    }
    .about-us {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        color: #666;
        background-color: #fff;
        width: 100%;
        @include border-line;
        border-top-width: 1px;
        .scroll {
            padding: 0 10px;
            height: 300px;
        }
        h3 {
            color: #666;
            padding: 10px 10px 0;
            font-size: 14px;
            a {
                float: right;
                padding: 9px;
                margin-top: -9px;
            }
        }
    }
}