<ion-view title="{{orderListTitle}}订单" class="ep-order-list">

	<ion-content scroll="false">

		<no-network></no-network>

		<no-results ng-if="noResults" data-text="您还没有订单记录"></no-results>

		<ion-scroll>

			<a class="order-item" style="display:-webkit-box;" ng-click="toOrderDetail(item.OrderId);" ng-repeat="item in orderList track by $index">
				<div class="detail">
					<p class="date">{{item.OrderDate}}</p>
					<p>{{item.Name}}</p>
					<p>总价：<span class="red">&yen;{{item.OrderAmount}}</span><!--共<span class="red" ng-bind="item.Num"></span>件商品--></p>
				</div>
				<div ng-if="item.OrderStatus == '已完成'" class="status">已完成</div>
				<div ng-if="item.OrderStatus == '已取消'" class="status">已取消</div>
				<div ng-if="item.OrderStatus == '待支付'" class="status red">待支付</div>
				<div ng-if="item.OrderStatus == '已付款'" class="status bule">待收货</div>
			</a>

			<div ng-if="noMordResults" class="no-more-results">没有更多结果了</div>

			<ion-infinite-scroll ng-if="loadMoreAble" class="load-more-bar" on-infinite="loadMore();" distance="10px"></ion-infinite-scroll>

		</ion-scroll>

	</ion-content>

	<bottom-bar ng-init="bottomBarCur = 'person'"></bottom-bar>

</ion-view>
