<ion-view title="{{isChoice ? '选择' : '管理'}}收货地址" class="ep-address">

    <ion-content scroll="false" ng-class="{'has-bottom':!isChoice}">

        <div class="switch-tabs" style="display: -webkit-box;">
            <a ng-class="{current: tabSwitch == 0}" ng-click="addressCheck(0);">企业地址</a>
            <a ng-class="{current: tabSwitch == 1}" ng-click="addressCheck(1);">个人地址</a>
        </div>
        <div ng-if="tabSwitch == 0 && eList.length == 0" class="no-address">您还没有添加过企业地址</div>
        <ion-scroll ng-if="tabSwitch == 0" class="address-list">
            <div ng-if="eList.length > 0" class="address-item" style="display:-webkit-box;" ng-click="addressChoice(0, $index);" ng-repeat="item in eList track by $index">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="checked == $index"></label>
                <div class="item-detail">
                    <p>
                        <span class="phone">{{item.PhoneNumber}}</span>
                        {{item.Name}}
                    </p>
                    <p class="text" style="display:-webkit-box;">
                        <span ng-if="item.IsDefault == '是'">[默认]</span>
                        {{item.Address}}
                    </p>
                </div>
            </div>
        </ion-scroll>
        <div ng-if="tabSwitch == 1 && pList.length == 0" class="no-address">您还没有添加过个人地址</div>
        <ion-scroll ng-if="tabSwitch == 1" class="address-list">
            <div ng-if="pList.length > 0" class="address-item" style="display:-webkit-box;" ng-click="addressChoice(1, $index);" ng-repeat="item in pList track by $index">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="checked == $index"></label>
                <div class="item-detail">
                    <p>
                        <span class="phone">{{item.PhoneNumber}}</span>
                        {{item.Name}}
                    </p>
                    <p class="text" style="display:-webkit-box;">
                        <span ng-if="item.IsDefault == '是'">[默认]</span>
                        {{item.ProvinceName}}{{item.CityName}}{{item.VillageName}}{{item.Address}}
                    </p>
                </div>
            </div>
        </ion-scroll>

        <div ng-class="{'has-bottom':!isChoice}" class="add-address-ctrl">
            <button class="button button-block button-positive" ng-click="addressEdit(1);" ng-class="{disabled: stepOneDisabled}">新增收货地址</button>
        </div>

    </ion-content>

    <bottom-bar ng-init="bottomBarCur = 'person'" ng-if="!isChoice"></bottom-bar>

</ion-view>

<ion-nav-buttons side="right">
    <a ng-click="addressEdit();" ng-if="(tabSwitch == 0 && eList.length > 0) || (tabSwitch == 1 && pList.length > 0)" class="ep-edit">{{isChoice ? '确定' : '编辑'}}</a>
</ion-nav-buttons>
